html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.sub-nav-shadow {
  -moz-box-shadow: 0 4px 8px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 4px 8px 1px rgba(0,0,0,0.1);
  box-shadow: 0 4px 8px 1px rgba(0,0,0,0.1);
}
.open-badges-callout-shadow {
  -moz-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 10px 4px rgba(0,0,0,0.3);
}
.hide {
  display: none;
}
.header-lock {
  display: block;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
}
.sans-serif {
  font-family: "proxima-nova", Verdana, sans-serif;
}
.serif {
  font-family: "jubilant", Georgia, Serif;
}
.small-badges {
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display {
  width: 100%;
  display: block;
}
.badges-display .water,
.badges-display .fish,
.badges-display .plants,
.badges-display .design {
  display: inline-block;
  width: 21.75%;
  margin: 0;
  padding: 20px 1.5% 0;
}
.badges-display .water .content-badges {
  background: url('imgs/water_badge.png') no-repeat center;
  height: 118px;
}
.badges-display .water .skills-badges .one {
  background: url('imgs/skill_small_dkblue.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .water .skills-badges .two {
  background: url('imgs/skill_small_ltblue.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .water .skills-badges .three {
  background: url('imgs/skill_small_dkpurple.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .water .skills-badges .four {
  background: url('imgs/skill_small_dkblue.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .water .activities {
  width: 100%;
  display: block;
  text-align: center;
}
.badges-display .water .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
.badges-display .water .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
.badges-display .water .activities section {
  width: 100%;
}
.badges-display .water .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
.badges-display .water .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
.badges-display .water .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
.badges-display .water .activities section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
.badges-display .water .activities section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
.badges-display .fish .content-badges {
  background: url('imgs/fish_badge.png') no-repeat center;
  height: 118px;
}
.badges-display .fish .skills-badges .one {
  background: url('imgs/skill_small_orange.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .fish .skills-badges .two {
  background: url('imgs/skill_small_yellow.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .fish .skills-badges .three {
  background: url('imgs/skill_small_red.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .fish .skills-badges .four {
  background: url('imgs/skill_small_orange.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .fish .activities {
  width: 100%;
  display: block;
  text-align: center;
}
.badges-display .fish .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
.badges-display .fish .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
.badges-display .fish .activities section {
  width: 100%;
}
.badges-display .fish .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
.badges-display .fish .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
.badges-display .fish .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
.badges-display .fish .activities section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
.badges-display .fish .activities section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
.badges-display .plants .content-badges {
  background: url('imgs/plants_badge.png') no-repeat center;
  height: 118px;
}
.badges-display .plants .skills-badges .one {
  background: url('imgs/skill_small_dkgreen.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .plants .skills-badges .two {
  background: url('imgs/skill_small_ltgreen.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .plants .skills-badges .three {
  background: url('imgs/skill_small_aquagreen.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .plants .skills-badges .four {
  background: url('imgs/skill_small_dkgreen.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .plants .activities {
  width: 100%;
  display: block;
  text-align: center;
}
.badges-display .plants .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
.badges-display .plants .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
.badges-display .plants .activities section {
  width: 100%;
}
.badges-display .plants .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
.badges-display .plants .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
.badges-display .plants .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
.badges-display .plants .activities section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
.badges-display .plants .activities section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
.badges-display .design .content-badges {
  background: url('imgs/design_badge.png') no-repeat center;
  height: 118px;
}
.badges-display .design .skills-badges .one {
  background: url('imgs/skill_small_purple.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .design .skills-badges .two {
  background: url('imgs/skill_small_pink.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .design .skills-badges .three {
  background: url('imgs/skill_small_gray.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .design .skills-badges .four {
  background: url('imgs/skill_small_purple.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.badges-display .design .activities {
  width: 100%;
  display: block;
  text-align: center;
}
.badges-display .design .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
.badges-display .design .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
.badges-display .design .activities section {
  width: 100%;
}
.badges-display .design .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
.badges-display .design .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
.badges-display .design .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
.badges-display .design .activities section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
.badges-display .design .activities section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
.question article.question {
  width: 97%;
  max-width: 900px;
  min-height: 64px;
  display: block;
  margin: 10px 0 0 0;
  padding: 5px 0;
}
.question article.question .qleft {
  width: 120px;
  display: inline-block;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 0 15px 0;
}
.question article.question .qleft p {
  color: #423c2e;
  font-size: 1.75em;
  font-family: "proxima-nova", Verdana, sans-serif;
  text-align: center;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
.question article.question .qleft p em {
  font-size: .4em;
  display: block;
}
.question article.question .qleft p:last-child {
  margin: -38px 0 0 70px;
}
.question article.question .qleft hr {
  border: 0;
  height: 1px;
  color: #716854;
  background-color: #716854;
  display: inline-block;
  width: 80px;
  transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  margin: 0 0 0 -15px;
}
.question article.question .qright {
  display: inline-block;
  width: 80%;
  background-color: #f9f6ef;
}
.question article.question .qright div {
  width: 12px;
  min-height: 64px;
  margin: 0;
  padding: 0;
  float: left;
  margin: 0 10px 0 0;
}
.question article.question .qright div.water {
  background-color: #086098;
}
.question article.question .qright div.plants {
  background-color: #4c7f0f;
}
.question article.question .qright div.design {
  background-color: #8d3b92;
}
.question article.question .qright div.fish {
  background-color: #ce691f;
}
.question article.question .qright h3 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 1.2em;
  font-family: georgia, serif;
}
.question article.question .qright p {
  margin: 0;
  padding: 2px 0 0;
  font-size: .8em;
  font-family: "proxima-nova", Verdana, sans-serif;
}
.question article.question .qright p a.water,
.question article.question .qright p a.water:visited {
  color: #086098;
}
.question article.question .qright p a.plants,
.question article.question .qright p a.plants:visited {
  color: #4c7f0f;
}
.question article.question .qright p a.design,
.question article.question .qright p a.design:visited {
  color: #8d3b92;
}
.question article.question .qright p a.fish,
.question article.question .qright p a.fish:visited {
  color: #ce691f;
}
.question article.question:first-child {
  margin: 30px 0 0 0;
}
.button {
  margin: 3px;
  padding: 4px 8px;
  background: #8daa92;
  display: inline-block;
}
.activities-styles {
  width: 100%;
  display: block;
  text-align: center;
}
.activities-styles h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
.activities-styles div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
.activities-styles section {
  width: 100%;
}
.activities-styles section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
.activities-styles section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
.activities-styles section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
.activities-styles section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
.activities-styles section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
.header-ul ul {
  padding: 0;
  margin: 0;
  display: inline;
}
.header-ul ul li {
  display: inline-block;
  padding: 0 15px 0 0;
}
.hr {
  border: 0;
  height: 1px;
  color: #716854;
  background-color: #716854;
}
body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #f9f6ef;
}
a,
a:visited {
  color: #a59e8f;
  text-decoration: none;
  font-family: "proxima-nova", Verdana, sans-serif;
}
header {
  background-color: #f9f6ef;
  position: relative;
}
header #main-nav {
  height: 36px;
  background-color: #423c2e;
  top: 0;
  padding: 20px 0 0;
}
header #main-nav h1#branding {
  display: inline;
  margin: 0 0 0 20px;
  font-weight: bold;
  vertical-align: center;
  letter-spacing: .25em;
}
header #main-nav h1#branding a {
  color: #f9f6ef;
  text-transform: uppercase;
  font-size: 1.25em;
}
header #main-nav ul {
  padding: 0;
  margin: 0;
  display: inline;
}
header #main-nav ul li {
  display: inline-block;
  padding: 0 15px 0 0;
}
header #main-nav ul#navigation {
  margin: 0 0 0 24px;
  vertical-align: center;
}
header #main-nav ul#profile {
  float: right;
  vertical-align: center;
}
header #sub-nav {
  height: 34px;
  background-color: #f9f6ef;
  top: 46px;
  -moz-box-shadow: 0 4px 8px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 4px 8px 1px rgba(0,0,0,0.1);
  box-shadow: 0 4px 8px 1px rgba(0,0,0,0.1);
}
header #sub-nav ul {
  padding: 0;
  margin: 0;
  display: inline;
}
header #sub-nav ul li {
  display: inline-block;
  padding: 0 15px 0 0;
}
header #sub-nav #crumb-nav {
  font-size: .8em;
  padding: 20px;
}
header #sub-nav #crumb-nav li {
  margin: 10px 0 0 0;
}
header #secondary-nav {
  height: 117px;
  margin-top: 80px;
  padding: 0 1.5%;
  position: relative;
  direction: block;
  -moz-box-shadow: 0 4px 8px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 4px 8px 1px rgba(0,0,0,0.1);
  box-shadow: 0 4px 8px 1px rgba(0,0,0,0.1);
}
header #secondary-nav section {
  position: relative;
  background-color: #f9f6ef !important;
  display: inline-block;
  margin: 40px 0 0 2%;
  vertical-align: bottom;
}
header #secondary-nav section p,
header #secondary-nav section h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #f9f6ef;
}
header #secondary-nav section h2 a {
  color: #423c2e;
}
header #secondary-nav section hr {
  border: 0;
  height: 1px;
  color: #716854;
  background-color: #716854;
}
header #secondary-nav section ul li a,
header #secondary-nav section p a {
  font-family: "jubilant", Georgia, Serif;
  background-color: #f9f6ef;
}
header #secondary-nav section a {
  background: #f9f6ef;
}
header #secondary-nav section:first-child {
  margin: 40px 0 0;
}
header #secondary-nav #page-search {
  width: 28%;
  padding: 0 0 18px 0;
}
header #secondary-nav #page-search form {
  display: inline;
  margin: 0 0 0 1%;
}
header #secondary-nav #page-search input[type="text"] {
  border: 0;
  background: #f9f6ef;
  outline: none;
  width: 77%;
}
header #secondary-nav #page-search input[type="submit"] {
  width: 12px;
  height: 12px;
  text-indent: -999px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  background-image: url('imgs/search_icon.png');
  background-repeat: no-repeat;
}
header #secondary-nav #page-search p {
  color: #a59e8f;
  font-style: italic;
}
header #secondary-nav #main-links {
  background-color: #f7f1e5;
  width: 34%;
  display: inline-table;
}
header #secondary-nav #main-links ul {
  padding: 0;
  margin: 0;
  display: inline;
}
header #secondary-nav #main-links ul li {
  display: inline-block;
  padding: 0 15px 0 0;
}
header #secondary-nav #content-filter,
header #secondary-nav #content-sort {
  width: 15%;
  background: #f7f1e5;
}
header.badges #main-links {
  width: 68% !important;
}
header.badges #content-filter,
header.badges #content-sort {
  width: 0 !important;
  display: none !important;
  overflow: none !important;
}
section#main {
  width: 100%;
  min-height: 500px !important;
}
section#main.home #mantle {
  width: 100%;
  text-align: center;
}
section#main.home #mantle ul {
  padding: 0;
  margin: 0;
  display: inline;
}
section#main.home #mantle ul li {
  display: inline-block;
  padding: 0 15px 0 0;
}
section#main.home #mantle #showcase figcaption {
  width: 400px;
  position: absolute;
  top: 200px;
  left: 60%;
  display: run-in;
  color: #f9f6ef;
  text-align: right;
}
section#main.home #mantle #showcase figcaption h4 {
  display: block;
  font-family: "jubilant", Georgia, Serif;
  font-size: 3em;
  text-transform: capitalize;
  text-shadow: rgba(0,0,0,0.8) 2px 2px 2px;
}
section#main.home #mantle #showcase figcaption p {
  display: block;
  text-shadow: rgba(0,0,0,0.8) 2px 2px 2px;
}
section#main.home #mantle #showcase figcaption p.institution {
  font-family: "proxima-nova", Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6em;
}
section#main.home #mantle #showcase figcaption p.location {
  font-family: "proxima-nova", Verdana, sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}
section#main.home #mantle #showcase img {
  width: 100% !important;
  height: auto;
}
section#main.home #mantle ul {
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  top: -73px;
}
section#main.home #mantle ul li {
  margin: 0 1%;
  padding: 0 1%;
  width: 15%;
  font-family: "proxima-nova", Verdana, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .7em;
  background: #d6cebe;
  height: 70px;
  color: #423c2e;
  transition: background-color 3s;
  -webkit-transition: background-color 3s;
  -moz-transition: background-color 3s;
  -o-transition: background-color 3s;
}
section#main.home #mantle ul li h3 {
  vertical-align: bottom;
}
section#main.home #mantle ul li figure {
  margin: 10px 0;
  height: 35px;
  width: auto;
}
section#main.home #mantle ul li figure img {
  vertical-align: center;
  max-width: 90%;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
}
section#main.home #mantle ul li:hover {
  background: #f9f6ef;
}
section#main.home #mantle ul li:hover img {
  opacity: 0.5;
}
section#main.home #mantle #stripes {
  width: 100%;
  height: 10px;
  background: url('imgs/pagestripes.png') repeat-x;
  position: relative;
  top: -73px;
}
section#main.home #callout {
  width: 100%;
  position: relative;
  max-height: 250px;
  overflow: hidden;
  top: -40px;
  font-family: "proxima-nova", Verdana, sans-serif;
  padding: 0 2%;
}
section#main.home #callout h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4em;
  margin: 0 0 20px 0;
  color: #423c2e;
  text-align: left;
}
section#main.home #callout figure {
  display: inline-table;
  margin: 10px;
  padding: 0 2%;
}
section#main.home #callout figure img {
  width: 160px;
  height: 160px;
  overflow: hidden;
}
section#main.home #callout figure figcaption {
  text-align: center;
}
section#main.home #callout figure figcaption h3 {
  font-weight: bold;
  color: #078c78;
}
section#main.home #callout figure.first {
  padding: 0;
  margin-left: 0;
}
section#main.home #additional-content {
  background: url('imgs/dot_dark.png');
  min-height: 600px;
  padding: 0 2%;
}
section#main.home #additional-content h2 {
  font-family: "proxima-nova", Verdana, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4em;
  margin: 0 0 20px 0;
  color: #423c2e;
  text-align: left;
}
section#main.home #additional-content h2 a {
  color: #078c78;
  font-size: .5em;
}
section#main.home #additional-content #recent-discussions {
  position: relative;
  top: 20px;
  margin: 20px 0;
}
section#main.home #additional-content #discussions {
  display: inline-table;
  width: 75%;
}
section#main.home #additional-content #discussions article.question {
  width: 97%;
  max-width: 900px;
  min-height: 64px;
  display: block;
  margin: 10px 0 0 0;
  padding: 5px 0;
}
section#main.home #additional-content #discussions article.question .qleft {
  width: 120px;
  display: inline-block;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 0 15px 0;
}
section#main.home #additional-content #discussions article.question .qleft p {
  color: #423c2e;
  font-size: 1.75em;
  font-family: "proxima-nova", Verdana, sans-serif;
  text-align: center;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
section#main.home #additional-content #discussions article.question .qleft p em {
  font-size: .4em;
  display: block;
}
section#main.home #additional-content #discussions article.question .qleft p:last-child {
  margin: -38px 0 0 70px;
}
section#main.home #additional-content #discussions article.question .qleft hr {
  border: 0;
  height: 1px;
  color: #716854;
  background-color: #716854;
  display: inline-block;
  width: 80px;
  transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  margin: 0 0 0 -15px;
}
section#main.home #additional-content #discussions article.question .qright {
  display: inline-block;
  width: 80%;
  background-color: #f9f6ef;
}
section#main.home #additional-content #discussions article.question .qright div {
  width: 12px;
  min-height: 64px;
  margin: 0;
  padding: 0;
  float: left;
  margin: 0 10px 0 0;
}
section#main.home #additional-content #discussions article.question .qright div.water {
  background-color: #086098;
}
section#main.home #additional-content #discussions article.question .qright div.plants {
  background-color: #4c7f0f;
}
section#main.home #additional-content #discussions article.question .qright div.design {
  background-color: #8d3b92;
}
section#main.home #additional-content #discussions article.question .qright div.fish {
  background-color: #ce691f;
}
section#main.home #additional-content #discussions article.question .qright h3 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 1.2em;
  font-family: georgia, serif;
}
section#main.home #additional-content #discussions article.question .qright p {
  margin: 0;
  padding: 2px 0 0;
  font-size: .8em;
  font-family: "proxima-nova", Verdana, sans-serif;
}
section#main.home #additional-content #discussions article.question .qright p a.water,
section#main.home #additional-content #discussions article.question .qright p a.water:visited {
  color: #086098;
}
section#main.home #additional-content #discussions article.question .qright p a.plants,
section#main.home #additional-content #discussions article.question .qright p a.plants:visited {
  color: #4c7f0f;
}
section#main.home #additional-content #discussions article.question .qright p a.design,
section#main.home #additional-content #discussions article.question .qright p a.design:visited {
  color: #8d3b92;
}
section#main.home #additional-content #discussions article.question .qright p a.fish,
section#main.home #additional-content #discussions article.question .qright p a.fish:visited {
  color: #ce691f;
}
section#main.home #additional-content #discussions article.question:first-child {
  margin: 30px 0 0 0;
}
section#main.home #additional-content #resources {
  position: relative;
  display: inline-table;
  width: 20%;
  clear: left;
}
section#main.home #additional-content #resources h4 {
  display: inline;
  font-family: "proxima-nova", Verdana, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #423c2e;
  margin-bottom: 0;
  padding-bottom: 0;
}
section#main.home #additional-content #resources .recent_resource {
  width: 100%;
  padding: 5px 0 5px;
}
section#main.home #additional-content #resources .recent_resource hr {
  border: 0;
  height: 1px;
  color: #716854;
  background-color: #716854;
  display: block;
  padding: 0;
  margin: 0;
}
section#main.home #additional-content #resources p {
  width: 100%;
  font-family: "jubilant", Georgia, Serif;
  color: #423c2e;
  margin: 12px 0;
  font-size: .9em;
}
section#main.home #additional-content #resources p a {
  color: #078c78;
  font-family: "jubilant", Georgia, Serif;
  text-decoration: underline;
}
section#main.home #new-institutions {
  padding: 20px 0 60px 0;
  overflow: hidden;
  max-height: 260px;
}
section#main.home #new-institutions .institution {
  width: 216px;
  display: inline-table;
  background: #f9f6ef;
  border: 1px solid #a59e8f;
  margin: 0 2%;
  text-align: center;
  vertical-align: top;
}
section#main.home #new-institutions .institution figure {
  height: 78px;
  padding-bottom: 18px;
}
section#main.home #new-institutions .institution img {
  padding: 20px 0 5px;
}
section#main.home #new-institutions .institution h4 {
  font-family: "proxima-nova", Verdana, sans-serif;
  font-weight: 100;
  font-size: .9em;
  white-space: pre-line;
  width: 80%;
  margin: 0 auto;
  color: #423c2e;
}
section#main.home #new-institutions .institution p {
  font-family: "jubilant", Georgia, Serif;
  font-size: .75em;
  font-style: italic;
  vertical-align: baseline;
  background: #ebe5d9;
  padding: 10px 0;
  position: relative;
  color: #423c2e;
}
section#main.home #new-institutions .institution.first {
  margin: 0 2% 0 0;
}
section#main.forum {
  background: url('imgs/lined_pattern.png');
}
section#main.forum #overview header {
  width: 100%;
  height: 4px;
  display: block;
  background-color: #423c2e;
}
section#main.forum #overview footer {
  width: 140px;
  height: 28px;
  background-color: #716854;
  float: right;
  margin: 0 20px 0 0;
}
section#main.forum #overview footer p {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 4px 0 0 0;
  padding: 0;
  text-align: center;
  color: #f9f6ef;
  font-size: .9em;
}
section#main.forum #page-content {
  width: 100%;
  display: block;
  margin: 0 0 0 20px;
}
section#main.forum #page-content article.question {
  width: 97%;
  max-width: 900px;
  min-height: 64px;
  display: block;
  margin: 10px 0 0 0;
  padding: 5px 0;
}
section#main.forum #page-content article.question .qleft {
  width: 120px;
  display: inline-block;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 0 15px 0;
}
section#main.forum #page-content article.question .qleft p {
  color: #423c2e;
  font-size: 1.75em;
  font-family: "proxima-nova", Verdana, sans-serif;
  text-align: center;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
section#main.forum #page-content article.question .qleft p em {
  font-size: .4em;
  display: block;
}
section#main.forum #page-content article.question .qleft p:last-child {
  margin: -38px 0 0 70px;
}
section#main.forum #page-content article.question .qleft hr {
  border: 0;
  height: 1px;
  color: #716854;
  background-color: #716854;
  display: inline-block;
  width: 80px;
  transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  margin: 0 0 0 -15px;
}
section#main.forum #page-content article.question .qright {
  display: inline-block;
  width: 80%;
  background-color: #f9f6ef;
}
section#main.forum #page-content article.question .qright div {
  width: 12px;
  min-height: 64px;
  margin: 0;
  padding: 0;
  float: left;
  margin: 0 10px 0 0;
}
section#main.forum #page-content article.question .qright div.water {
  background-color: #086098;
}
section#main.forum #page-content article.question .qright div.plants {
  background-color: #4c7f0f;
}
section#main.forum #page-content article.question .qright div.design {
  background-color: #8d3b92;
}
section#main.forum #page-content article.question .qright div.fish {
  background-color: #ce691f;
}
section#main.forum #page-content article.question .qright h3 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 1.2em;
  font-family: georgia, serif;
}
section#main.forum #page-content article.question .qright p {
  margin: 0;
  padding: 2px 0 0;
  font-size: .8em;
  font-family: "proxima-nova", Verdana, sans-serif;
}
section#main.forum #page-content article.question .qright p a.water,
section#main.forum #page-content article.question .qright p a.water:visited {
  color: #086098;
}
section#main.forum #page-content article.question .qright p a.plants,
section#main.forum #page-content article.question .qright p a.plants:visited {
  color: #4c7f0f;
}
section#main.forum #page-content article.question .qright p a.design,
section#main.forum #page-content article.question .qright p a.design:visited {
  color: #8d3b92;
}
section#main.forum #page-content article.question .qright p a.fish,
section#main.forum #page-content article.question .qright p a.fish:visited {
  color: #ce691f;
}
section#main.forum #page-content article.question:first-child {
  margin: 30px 0 0 0;
}
section#main.badges {
  background: url('imgs/dot_dark.png');
  width: 100%;
  display: block;
}
section#main.badges h2 {
  margin: 0;
  padding: 20px 0 0 20px;
  font-family: "proxima-nova", Verdana, sans-serif;
  text-transform: uppercase;
  float: left;
}
section#main.badges .aquapons-badges {
  width: 100%;
  display: block;
  height: 134px;
  margin: 0;
  padding: 10px 0;
  background: url('imgs/practioner_badge.png') no-repeat center;
}
section#main.badges .water,
section#main.badges .fish,
section#main.badges .plants,
section#main.badges .design {
  display: inline-block;
  width: 21.75%;
  margin: 0;
  padding: 20px 1.5% 0;
}
section#main.badges .water .content-badges {
  background: url('imgs/water_badge.png') no-repeat center;
  height: 118px;
}
section#main.badges .water .skills-badges .one {
  background: url('imgs/skill_small_dkblue.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .water .skills-badges .two {
  background: url('imgs/skill_small_ltblue.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .water .skills-badges .three {
  background: url('imgs/skill_small_dkpurple.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .water .skills-badges .four {
  background: url('imgs/skill_small_dkblue.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .water .activities {
  width: 100%;
  display: block;
  text-align: center;
}
section#main.badges .water .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
section#main.badges .water .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
section#main.badges .water .activities section {
  width: 100%;
}
section#main.badges .water .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
section#main.badges .water .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
section#main.badges .water .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
section#main.badges .water .activities section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
section#main.badges .water .activities section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
section#main.badges .fish .content-badges {
  background: url('imgs/fish_badge.png') no-repeat center;
  height: 118px;
}
section#main.badges .fish .skills-badges .one {
  background: url('imgs/skill_small_orange.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .fish .skills-badges .two {
  background: url('imgs/skill_small_yellow.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .fish .skills-badges .three {
  background: url('imgs/skill_small_red.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .fish .skills-badges .four {
  background: url('imgs/skill_small_orange.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .fish .activities {
  width: 100%;
  display: block;
  text-align: center;
}
section#main.badges .fish .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
section#main.badges .fish .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
section#main.badges .fish .activities section {
  width: 100%;
}
section#main.badges .fish .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
section#main.badges .fish .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
section#main.badges .fish .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
section#main.badges .fish .activities section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
section#main.badges .fish .activities section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
section#main.badges .plants .content-badges {
  background: url('imgs/plants_badge.png') no-repeat center;
  height: 118px;
}
section#main.badges .plants .skills-badges .one {
  background: url('imgs/skill_small_dkgreen.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .plants .skills-badges .two {
  background: url('imgs/skill_small_ltgreen.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .plants .skills-badges .three {
  background: url('imgs/skill_small_aquagreen.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .plants .skills-badges .four {
  background: url('imgs/skill_small_dkgreen.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .plants .activities {
  width: 100%;
  display: block;
  text-align: center;
}
section#main.badges .plants .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
section#main.badges .plants .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
section#main.badges .plants .activities section {
  width: 100%;
}
section#main.badges .plants .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
section#main.badges .plants .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
section#main.badges .plants .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
section#main.badges .plants .activities section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
section#main.badges .plants .activities section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
section#main.badges .design .content-badges {
  background: url('imgs/design_badge.png') no-repeat center;
  height: 118px;
}
section#main.badges .design .skills-badges .one {
  background: url('imgs/skill_small_purple.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .design .skills-badges .two {
  background: url('imgs/skill_small_pink.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .design .skills-badges .three {
  background: url('imgs/skill_small_gray.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .design .skills-badges .four {
  background: url('imgs/skill_small_purple.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges .design .activities {
  width: 100%;
  display: block;
  text-align: center;
}
section#main.badges .design .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
section#main.badges .design .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
section#main.badges .design .activities section {
  width: 100%;
}
section#main.badges .design .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
section#main.badges .design .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
section#main.badges .design .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
section#main.badges .design .activities section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
section#main.badges .design .activities section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
section#main.badges .skills-badges {
  width: 100%;
  display: block;
}
section#main.badges section.badges-desc {
  width: 100%;
  margin: 0;
  padding: 40px 20px 80px 20px;
}
section#main.badges section.badges-desc section.badges-desc-content {
  width: 74%;
  display: inline-block;
  vertical-align: top;
}
section#main.badges section.badges-desc section.badges-desc-content p {
  color: #423c2e;
}
section#main.badges section.badges-desc section.badges-desc-content p.main-copy {
  font-family: "proxima-nova", Verdana, sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  margin: 0 0 20px 0;
}
section#main.badges section.badges-desc section.badges-desc-content p.body-copy {
  width: 45%;
  margin: 0;
  display: inline-block;
  font-weight: 400;
  font-family: "jubilant", Georgia, Serif;
}
section#main.badges section.badges-desc section.badges-desc-content p.body-copy:nth-child(even) {
  margin: 0 5% 0 0;
}
section#main.badges section.badges-desc section.open-badges-callout {
  width: 20%;
  height: 295px;
  padding: 10px 20px 10px 20px;
  background: #f7f1e5;
  display: inline-block;
  vertical-align: top;
  -moz-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 10px 4px rgba(0,0,0,0.3);
}
section#main.badges section.badges-desc section.open-badges-callout div {
  width: 100%;
  height: 95px;
  background: url('imgs/mozilla_foundation.png') no-repeat center;
  padding: 10px 0;
}
section#main.badges section.badges-desc section.open-badges-callout p {
  font-family: "proxima-nova", Verdana, sans-serif;
}
section#main.badges section.badges-desc section.open-badges-callout p.link {
  background: #423c2e;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #f9f6ef;
  width: 100px;
  padding: 10px;
  margin: 10px 0 0 0;
  font-size: .8em;
  text-transform: uppercase;
  position: relative;
}
section#main.badges section.badges-desc section.open-badges-callout p.link:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  top: 0;
  left: 120px;
  border: 17px solid transparent;
  border-left-color: #423c2e;
}
section#main.badges.page.aquapons {
  width: 100%;
  display: block;
}
section#main.badges.page.aquapons #aquapons-navigation {
  padding: 15px 0;
  max-height: 140px;
  background: #f7f1e5;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
section#main.badges.page.aquapons .page-back,
section#main.badges.page.aquapons .page-forward {
  display: inline-block;
  width: 30px;
  height: 38px;
  position: relative;
}
section#main.badges.page.aquapons .page-back {
  background: url('imgs/badges-arrow-left.png') center no-repeat;
}
section#main.badges.page.aquapons .page-forward {
  background: url('imgs/badges-arrow-right.png') center no-repeat;
  right: 20px;
}
section#main.badges.page.aquapons div.aquapons.badge {
  display: inline-block;
  margin: 10px 10%;
  text-align: center;
  width: 134px;
  height: 134px;
  vertical-align: middle;
}
section#main.badges.page.aquapons div.aquapons.badge a {
  position: relative;
  display: inline;
  color: #423c2e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  vertical-align: center;
  clear: both;
  text-align: center;
}
section#main.badges.page.aquapons div.aquapons.badge a.focus.junior-apprentice,
section#main.badges.page.aquapons div.aquapons.badge a.focus.senior-apprentice {
  top: -85px;
}
section#main.badges.page.aquapons div.aquapons.badge a.focus {
  top: -78px;
}
section#main.badges.page.aquapons div.aquapons.badge a.secondary {
  top: -65px;
  font-size: .75em;
  font-weight: 300;
}
section#main.badges.page.aquapons div.aquapons.badge a.secondary.junior-apprentice,
section#main.badges.page.aquapons div.aquapons.badge a.secondary.senior-apprentice {
  top: -72px;
}
section#main.badges.page.aquapons div.aquapons.badge img.focus {
  position: relative;
  display: inline;
  width: 134px;
  height: 134px;
}
section#main.badges.page.aquapons div.aquapons.badge img.secondary {
  width: 107px;
  height: 107px;
}
section#main.badges.page.aquapons div.aquapons.badge.hide {
  display: none;
}
section#main.badges.page.aquapons .water,
section#main.badges.page.aquapons .fish,
section#main.badges.page.aquapons .plants,
section#main.badges.page.aquapons .design {
  display: inline-block;
  width: 21.75%;
  margin: 0;
  padding: 20px 1.5% 0;
}
section#main.badges.page.aquapons .water .content-badges {
  background: url('imgs/water_badge.png') no-repeat center;
  height: 118px;
}
section#main.badges.page.aquapons .water .skills-badges .one {
  background: url('imgs/skill_small_dkblue.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .water .skills-badges .two {
  background: url('imgs/skill_small_ltblue.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .water .skills-badges .three {
  background: url('imgs/skill_small_dkpurple.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .water .skills-badges .four {
  background: url('imgs/skill_small_dkblue.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .water .activities {
  width: 100%;
  display: block;
  text-align: center;
}
section#main.badges.page.aquapons .water .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
section#main.badges.page.aquapons .water .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
section#main.badges.page.aquapons .water .activities section {
  width: 100%;
}
section#main.badges.page.aquapons .water .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
section#main.badges.page.aquapons .water .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
section#main.badges.page.aquapons .water .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
section#main.badges.page.aquapons .water .activities section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
section#main.badges.page.aquapons .water .activities section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
section#main.badges.page.aquapons .fish .content-badges {
  background: url('imgs/fish_badge.png') no-repeat center;
  height: 118px;
}
section#main.badges.page.aquapons .fish .skills-badges .one {
  background: url('imgs/skill_small_orange.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .fish .skills-badges .two {
  background: url('imgs/skill_small_yellow.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .fish .skills-badges .three {
  background: url('imgs/skill_small_red.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .fish .skills-badges .four {
  background: url('imgs/skill_small_orange.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .fish .activities {
  width: 100%;
  display: block;
  text-align: center;
}
section#main.badges.page.aquapons .fish .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
section#main.badges.page.aquapons .fish .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
section#main.badges.page.aquapons .fish .activities section {
  width: 100%;
}
section#main.badges.page.aquapons .fish .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
section#main.badges.page.aquapons .fish .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
section#main.badges.page.aquapons .fish .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
section#main.badges.page.aquapons .fish .activities section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
section#main.badges.page.aquapons .fish .activities section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
section#main.badges.page.aquapons .plants .content-badges {
  background: url('imgs/plants_badge.png') no-repeat center;
  height: 118px;
}
section#main.badges.page.aquapons .plants .skills-badges .one {
  background: url('imgs/skill_small_dkgreen.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .plants .skills-badges .two {
  background: url('imgs/skill_small_ltgreen.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .plants .skills-badges .three {
  background: url('imgs/skill_small_aquagreen.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .plants .skills-badges .four {
  background: url('imgs/skill_small_dkgreen.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .plants .activities {
  width: 100%;
  display: block;
  text-align: center;
}
section#main.badges.page.aquapons .plants .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
section#main.badges.page.aquapons .plants .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
section#main.badges.page.aquapons .plants .activities section {
  width: 100%;
}
section#main.badges.page.aquapons .plants .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
section#main.badges.page.aquapons .plants .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
section#main.badges.page.aquapons .plants .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
section#main.badges.page.aquapons .plants .activities section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
section#main.badges.page.aquapons .plants .activities section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
section#main.badges.page.aquapons .design .content-badges {
  background: url('imgs/design_badge.png') no-repeat center;
  height: 118px;
}
section#main.badges.page.aquapons .design .skills-badges .one {
  background: url('imgs/skill_small_purple.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .design .skills-badges .two {
  background: url('imgs/skill_small_pink.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .design .skills-badges .three {
  background: url('imgs/skill_small_gray.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .design .skills-badges .four {
  background: url('imgs/skill_small_purple.png') no-repeat center;
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
section#main.badges.page.aquapons .design .activities {
  width: 100%;
  display: block;
  text-align: center;
}
section#main.badges.page.aquapons .design .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
section#main.badges.page.aquapons .design .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
section#main.badges.page.aquapons .design .activities section {
  width: 100%;
}
section#main.badges.page.aquapons .design .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
section#main.badges.page.aquapons .design .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
section#main.badges.page.aquapons .design .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
section#main.badges.page.aquapons .design .activities section div.plants {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
section#main.badges.page.aquapons .design .activities section div.design {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
footer.main {
  width: 100%;
  display: block;
  background: #423c2e;
  background: -moz-linear-gradient(top,#423c2e 0%,#221f17 92%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#423c2e),color-stop(92%,#221f17));
  background: -webkit-linear-gradient(top,#423c2e 0%,#221f17 92%);
  background: -o-linear-gradient(top,#423c2e 0%,#221f17 92%);
  background: -ms-linear-gradient(top,#423c2e 0%,#221f17 92%);
  background: linear-gradient(to bottom,#423c2e 0%,#221f17 92%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#423c2e',endColorstr='#221f17',GradientType=0);
}
footer.main header#pagination {
  width: 100%;
  display: block;
  padding: 10px 0 0;
  height: 60px;
  text-align: center;
}
footer.main header#pagination ul {
  padding: 0;
  margin: 0;
  display: inline;
}
footer.main header#pagination ul li {
  display: inline-block;
  padding: 0 15px 0 0;
}
footer.main header#pagination p {
  display: inline-block;
  font-family: "proxima-nova", Verdana, sans-serif;
  vertical-align: middle;
}
footer.main header#pagination ul {
  display: inline-block;
  width: 87%;
  vertical-align: middle;
}
footer.main header#pagination ul li {
  font-family: "proxima-nova", Verdana, sans-serif;
  font-size: 1.35em;
}
footer.main footer {
  min-height: 275px;
  width: 100%;
  display: block;
  padding: 20px 0 0;
}
footer.main footer ul {
  padding: 0;
  margin: 0;
  display: inline;
}
footer.main footer ul li {
  display: inline-block;
  padding: 0 15px 0 0;
}
footer.main footer ul {
  width: 100%;
}
footer.main footer ul li {
  width: 21.75%;
  margin: 0;
  padding: 20px 2% 0;
  vertical-align: top;
}
footer.main footer ul li h4 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #f9f6ef;
  font-weight: 200;
}
footer.main footer ul li p {
  font-family: "proxima-nova", Verdana, sans-serif;
  color: #a59e8f;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.2em;
}
footer.main footer ul li hr {
  border: 0;
  height: 1px;
  color: #716854;
  background-color: #716854;
}
footer.main footer ul li hr.fish {
  background-color: #ce691f;
  color: #ce691f;
}
footer.main footer ul li hr.water {
  background-color: #086098;
  color: #ce691f;
}
footer.main footer ul li hr.plants {
  background-color: #4c7f0f;
  color: #ce691f;
}
footer.main footer ul li hr.design {
  background-color: #8d3b92;
  color: #ce691f;
}
footer.main footer ul #site-desc {
  margin: -30px 0 0;
  padding: 0;
  width: 18.5%;
  background-color: #a59e8f;
}
footer.main footer ul #site-desc h4 {
  text-indent: -999px;
  overflow: hidden;
  background: url('imgs/swf_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 183px;
  height: 68px;
  margin: 20px 25px;
}
footer.main footer ul #site-desc p {
  color: #423c2e;
  padding: 0px 5px 10px 10px;
  font-size: .8em;
}
footer.main footer #copyright {
  float: right;
  clear: both;
  margin: 55px 30px 0 0;
  vertical-align: bottom;
  color: #a59e8f;
  font-size: .7em;
}
