/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}



/* Patterns */
@lined-pattern: url('imgs/lined_pattern.png');
@dotted-pattern: url('imgs/dot_dark.png');/*url('imgs/dotted_pattern_light.png');

/* Colors */
@dkbrown: #423c2e;
@medbrown: #716854;


@beige: #f9f6ef;
@offwhite: #f7f1e5;
@medbeige: #d6cebe;
@dkbeige: #a59e8f;
@tan: #ebe5d9;


@red: #c93e1b;
@orange: #ce691f;
@yellow: #dbad22;

@lt-blue:#26a3c2;
@blue:#086098;
@blue-purple:#3f268e;

@green:#4c7f0f;
@lt-green: #acb200;
@teal: #078c78;


@purple:#8d3b92;
@fushia: #e13955;

/* Styles */
.sub-nav-shadow{
	-moz-box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);	
	box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
}

.open-badges-callout-shadow{
	-moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.3);
}

.hide{
		
		display: none;
	}

.header-lock{
		
		display:block;
		width: 100%;
		position: absolute;
		left: 0px;
		right: 0px;

}
.sans-serif{ font-family: "proxima-nova",Verdana, sans-serif;}
.serif {font-family: "jubilant", Georgia, Serif;}

.skill-badge-post{
	
				width: 80px;
				height: 116px;
				margin: 10px;
				display: inline-table;
				padding: 10px;
				text-align: left;
				a{ color: @beige;}
				color: @beige;
				.sans-serif;
				hr{	border: 0;
					height: 1px; color: @beige; background: @beige;
					}
	
}
.skill-badge-background(@color:@green){
	
				background: @color;
				background: -webkit-linear-gradient(140deg, transparent 15px, @color 15px);
				background: -o-linear-gradient(140deg, transparent 15px, @color 15px);
				background: -moz-linear-gradient(140deg, transparent 15px, @color 15px);
				background: linear-gradient(140deg, transparent 15px, @color 15px);

	
}
.small-badges{

	height: 64px;
	width: 23%;
	margin: 0;
	//padding: 0 10px;
	display: inline-block;


}

	.badges-display{

		width: 100%;
		display: block;

		.water,.fish,.plant,.design-build{

			display: inline-block;
			width: 21.75%;
			margin: 0;
			padding: 20px 1.5% 0;
		}

		.water{
			.content-badges{
			background: url('imgs/water_badge.png') no-repeat center;
			height: 118px;
			
			}
			.badge-container{
				.skill.badge{
					
					.skill-badge-post;
					.skill-badge-background(@blue);
						
				}
				.skill.badge:nth-last-child(odd){
					//float: left;
				}
				.skill.badge:nth-child(3n-1){
					
					.skill-badge-background(@blue-purple);
				}
				.skill.badge:nth-child(4n-1){
					
					.skill-badge-background(@lt-blue);
				}
				.skill.badge.hide{
					display: none;
				}
			}
			.skills-badges{ 

				.one{ 
					background: url('imgs/skill_small_dkblue.png') no-repeat center;
					.small-badges

				}
				.two{
					background: url('imgs/skill_small_ltblue.png') no-repeat center;
					.small-badges

				}
				.three{
					background: url('imgs/skill_small_dkpurple.png') no-repeat center;
					.small-badges

				}
				.four{
					background: url('imgs/skill_small_dkblue.png') no-repeat center;
					.small-badges

				}
			}//.skills-badges
			.activities{

				.activities-styles;
			}//.activites
		}

		.fish{
			.content-badges{
			background: url('imgs/fish_badge.png') no-repeat center;
			height: 118px;
			}
			.badge-container{
				.skill.badge{
					
					.skill-badge-post;
					.skill-badge-background(@red);
	
						
				}
				.skill.badge:nth-child(3n-1){
					
					.skill-badge-background(@yellow);
				}
				.skill.badge:nth-child(4n-1){
					.skill-badge-background(@orange);				
					}
				.skill.badge.hide{
					display: none;
				}
			}
			.skills-badges{  
				.one{ 
					background: url('imgs/skill_small_orange.png') no-repeat center;
					.small-badges
				}
				.two{
					background: url('imgs/skill_small_yellow.png') no-repeat center;
					.small-badges

				}
				.three{
					background: url('imgs/skill_small_red.png') no-repeat center;
					.small-badges

				}
				.four{
					background: url('imgs/skill_small_orange.png') no-repeat center;
					.small-badges

				}
			}//.skills-badges
			.activities{

				.activities-styles;
			}

		}

		.plant{
			.content-badges{
			background: url('imgs/plants_badge.png') no-repeat center;
			height: 118px;
			}
			.badge-container{
				
				.skill.badge{
					
					.skill-badge-post;
					.skill-badge-background(@green);

				}
				.skill.badge.hide{
					display: none;
				}
				.skill.badge:nth-child(3n-1){
					
					.skill-badge-background(@teal);
				}
				.skill.badge:nth-child(4n-1){
					.skill-badge-background(@lt-green);
				}
			}
			.skills-badges{  

				.one{ 
						background: url('imgs/skill_small_dkgreen.png') no-repeat center;
						.small-badges
				}
				.two{
					background: url('imgs/skill_small_ltgreen.png') no-repeat center;
					.small-badges

				}
				.three{
					background: url('imgs/skill_small_aquagreen.png') no-repeat center;
					.small-badges

				}
				.four{
					background: url('imgs/skill_small_dkgreen.png') no-repeat center;
					.small-badges

				}
			}//.skills-badges
			.activities{

				.activities-styles;
			}

		}
		.design-build{
			.content-badges{
			background: url('imgs/design_badge.png') no-repeat center;
			height: 118px;
			}.skill.badge{
				
				.skill-badge-post;
				.skill-badge-background(@purple);

					
			}
			.skill.badge:nth-child(3n){
				.skill-badge-background(@fushia);
			}
			.skill.badge:nth-child(4n){
				.skill-badge-background(@medbrown);
			}
			.skill.badge.hide{
				display: none;
			}
		    .skills-badges{ 

				.one{ 
					background: url('imgs/skill_small_purple.png') no-repeat center;
					.small-badges
				}
				.two{
					background: url('imgs/skill_small_pink.png') no-repeat center;
					.small-badges

				}
				.three{
					background: url('imgs/skill_small_gray.png') no-repeat center;
					.small-badges

				}
				.four{
					background: url('imgs/skill_small_purple.png') no-repeat center;
					.small-badges
				}
			}//.skills-badges
			.activities{

				.activities-styles;
			}
			
		}//.design&build
		
		.badge-stack{
			vertical-align: top;
			margin: 20px 0 0;
			text-align: center;
			
		}
		
		
		
		.content{
			text-align: center;
		}

	}


.question{
	
	article.question{

			width: 97%;
			max-width: 900px;
			min-height: 64px;
			display: block;
			margin: 10px 0 0 0;
			padding: 5px 0;

			.qleft {

				width: 120px;
				display: inline-block;
				height: inherit;
				/*max-height: 90px;*/
				overflow: hidden;
				vertical-align: middle;
				margin: 0 0 15px 0;

				p{ 	color: @dkbrown; font-size: 1.75em; 
					.sans-serif;
					text-align: center; margin: 0; display: inline-block; 
					vertical-align: top;

					em{ font-size: .4em; display: block;  }
				}

				p:last-child{ margin: -38px 0 0 70px;	}
				hr{ .hr;
					display: inline-block; 
					width: 80px; 
					transform: rotate(300deg);
					-ms-transform: rotate(300deg); /* IE 9 */
					-webkit-transform: rotate(300deg); /* Safari and Chrome */
					-o-transform: rotate(300deg); /* Opera */
					-moz-transform: rotate(300deg); /* Firefox */
					margin: 0 0 0 -15px;
				}
			}
			.qright{

				display: inline-block;
				width: 80%;
				background-color: @beige;
				div{ width: 12px; min-height: 64px; margin: 0; padding: 0; float:left; margin: 0 10px 0 0;}

				div.water{ background-color: @blue;}
				div.plant{ background-color: @green;}
				div.design-build{ background-color: @purple;}
				div.fish{ background-color:@orange;}

				h3{ margin: 10px 0 0; padding: 0; font-size: 1.2em; font-family: georgia, serif;}
				p{ margin: 0; padding: 2px 0 0; font-size: .8em; .sans-serif; 

						a.water, a.water:visited{ color: @blue;}
						a.plant, a.plant:visited{ color: @green;}
						a.design-build, a.design-build:visited{ color: @purple;}
						a.fish, a.fish:visited{ color:@orange;}
				}
			}

		}

		article.question:first-child{
				margin: 30px 0 0 0;
		}

	
}

.button {
	margin: 3px;
	padding: 4px 8px;
	background: #8daa92;
	display: inline-block;
}

.activities-styles{
	width: 100%;
	display: block;
	text-align: center;
	h5{
		.sans-serif;
		margin: 20px 0 0;
		background: transparent;

	}

	div.bounding{

		border-top: 1px solid @dkbrown;
		border-right: 1px solid @dkbrown;
		border-left: 1px solid @dkbrown;
		height: 8px;

	}

	section{

		width: 100%;

		div{
			width: 16%;
			margin: 0;
			padding: 0;
			height: 32px;
			display: inline-block;
		}

		div.water{
			background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
		}

		div.fish{
			background: url('imgs/activities_tiny_orange.png') no-repeat center;
		}

		div.plant{
			background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
		}

		div.design-build{
			background: url('imgs/activities_tiny_purple.png') no-repeat center;
		}


	}

}

.header-ul{
		ul {

			padding: 0;
			margin: 0;
			display: inline;

			li{

				display: inline-block;
				padding: 0 15px 0 0;

			}

		}
}

.hr{

		border: 0;
		height: 1px;
		color: @medbrown;
		background-color: @medbrown;

}


body{
	border: 0;
	margin: 0;
	padding: 0;
	background-color: @beige;

}

a, a:visited{
	
	color: @dkbeige;
	text-decoration: none;
	.sans-serif;

}

a:hover{

	//font-weight: bold;
};


header{
	
	background-color: @beige;
	position: relative;
	#main-nav{
		//.header-lock;
		height:36px;
		background-color: @dkbrown;
		top: 0;
		padding: 20px 0 0;

		h1#branding{ display: inline;  margin: 0 0 0 20px; font-weight: bold; 
					 vertical-align: center; letter-spacing: .25em;
		
		a{ color:@beige; text-transform: uppercase; font-size: 1.25em;}
		}


		.header-ul;

		ul#navigation{

			margin: 0 0 0 24px;
			vertical-align: center;

		}

		ul#profile{
			float: right;
			//margin: 15px 30px 0 0;
			vertical-align: center;
		}



	}
	#sub-nav{
		height:34px;
		background-color: @beige;
		top: 46px;

		.sub-nav-shadow;
		//.header-lock;
		.header-ul;

		#crumb-nav{

				font-size: .8em;
				padding: 20px;
				li {

					margin: 10px 0 0 0;
				}

		}

	}

	#secondary-nav{
		height:117px;
		margin-top: 80px;
		padding: 0 1.5%;
		position:relative;
		direction: block;
		//background-color: @offwhite;
		.sub-nav-shadow;
		
		
		section { 
				position: relative;
				background-color: @beige !important;
				display: inline-block; 
				margin: 40px 0 0 2%;
				vertical-align: bottom;
				p, h2{
					display: inline-block; 
					margin: 0;
					padding: 0;
					background-color: @beige;
				}

				h2 a{

					color: @dkbrown;
				}

				hr{ .hr	}

				ul li a, p a {

					.serif;
					background-color: @beige;

				}
				
				a{ background: @beige;}
		}

		section:first-child{ margin: 40px 0 0 ;}

		#page-search{

			width: 28%; /*280/960*/
			form{  display: inline; margin: 0 0 0 1%;}
			padding: 0 0 18px 0;

			input[type="text"]{  border: 0; 
								  background: @beige; 
								  outline: none;		
								  width: 77%;
								}
			input[type="submit"]{ width: 12px; 
								  height: 12px; 
								  text-indent: -999px; 
								  overflow: hidden;
								  padding: 0;
								  margin: 0;
								  border: 0;
								  background-color:transparent;
								  background-image: url('imgs/search_icon.png'); 
								  background-repeat: no-repeat; }

			p{ color: @dkbeige; font-style: italic;}
		}

		#main-links{
			
			background-color: @offwhite;
			.header-ul;
			width: 34%; /* 330/960*/
			display: inline-table;

		}
		
		#main-links.aquapons{
			
			width: 69.7%;
		}
		
		#content-filter, #content-sort{

			width: 15%;
			background: @offwhite;

		}
	}
}

//CUSTOM HEADERS

header.badges{

	#main-links{ width: 68% !important; }
	#content-filter, #content-sort{ width: 0 !important; display: none !important; overflow: none !important; }
	
	
	
}

//GENERAL STYLES

section#main{

		width: 100%;
		min-height: 500px !important; 
		
}

//HOME PAGE

section#main.home{
	
	#mantle{
		width: 100%;
		text-align: center;
		.header-ul;

		#showcase{
			
			figcaption{
				width: 400px;
				position: absolute;
				top: 200px;
				left: 60%;
				display:run-in;
				color: @beige;
				text-align: right;
				
				h4{display: block; .serif; font-size: 3em; text-transform: capitalize;text-shadow: rgba(0,0,0,0.8) 2px 2px 2px;}
				p{display: block; text-shadow: rgba(0,0,0,0.8) 2px 2px 2px;}
				p.institution{ .sans-serif; text-transform: uppercase; font-weight: bold; font-size: 1.6em; }
				p.location{.sans-serif; text-transform: capitalize; font-weight: bold;	}
								
				
			}
						
			img{width: 100% !important;
				height: auto; }
				
		}
		
		ul{ width: 100%;
			margin: 0 auto;
			padding: 0 auto;
			position: relative;
			top: -73px;
			//bottom: -73px;
			//height: -80px;
			li{
				margin: 0 1%;
				padding: 0 1%;
				width: 15%;
				.sans-serif;
				font-weight: 600;
				text-transform: uppercase;
				font-size: .7em;
				background: @medbeige;
				height: 70px;	
				color: @dkbrown;
				transition: background-color 3s;
				 -webkit-transition:background-color 3s;;
				 -moz-transition: background-color 3s;
				 -o-transition: background-color 3s;
				
				h3{vertical-align: bottom;}
				figure{
					margin:10px 0;
					height: 35px;
					width: auto;
					img{vertical-align: center; 
						max-width: 90%; 
						transition:opacity 2s; 
						-webkit-transition: opacity 2s; 
						-moz-transition: opacity 2s; 
						-o-transition: opacity 2s;
						}

				}
			}
			li:hover{
				
				background: @beige;
				img{opacity: 0.5;}
				
			}
			
		}//ul
		
		#stripes{
			width: 100%;
			height: 10px;
			background: url('imgs/pagestripes.png') repeat-x;
			position: relative;
			top: -73px;
		}
		
	}//#mantle 
	#callout{
		width: 100%;
		position: relative;
		max-height: 250px;
		overflow: hidden;
		top: -40px;
		.sans-serif;
		padding: 0 2%;
		//text-align: center;
		h2{ font-weight: bold; text-transform: uppercase; font-size: 1.4em; margin: 0 0 20px 0; color: @dkbrown; text-align: left;}
		figure{
			display: inline-table;
			margin: 10px;
			padding: 0 2%;
			img{width: 160px; height:160px; overflow: hidden;}
			figcaption{
				
				text-align: center;
				h3{
					
					font-weight: bold;
					color: @teal;
				}
				
			}//caption
			
		}//figure
		figure.first{
			//color: red;
			padding: 0;
			margin-left: 0;
			
		}
	
	}//#callout
	#additional-content{
		
		background: @dotted-pattern;
		min-height: 600px;
		padding: 0 2%;

		
		h2{ .sans-serif; font-weight: 600; text-transform: uppercase; font-size: 1.4em; margin: 0 0 20px 0; color: @dkbrown; text-align: left;
			
			a{ color: @teal; font-size: .5em;}
		}
		#recent-discussions{ position: relative; top: 20px; margin: 20px 0;}
		#discussions{
			display: inline-table;
			width: 75%;
			.question;
			
		}
		#resources{
			position: relative;			
			display: inline-table;
			width: 20%;
			//left: 73%;
			//top: -395px;
			clear: left;
			h4{ display: inline;  .sans-serif; font-weight: 600; text-transform: uppercase; color: @dkbrown; margin-bottom: 0; padding-bottom: 0;}
			.recent_resource{ width: 100%;
							  padding: 5px 0 5px;
				
				hr{
							border: 0;
							height: 1px;
							color: @medbrown;
							background-color: @medbrown;
							display: block;
							padding: 0;
							margin: 0;
					
				}				
				
		
			}
			
		
			
			p{width: 100%; .serif; color: @dkbrown; margin: 12px 0; font-size: .9em;
				
				a{ color: @teal; .serif; text-decoration: underline;
				
				}
			}
			
		}//#resources
		
	}//#additional-content
	
	#new-institutions{
		padding: 20px 0 60px 0;
		overflow: hidden;
		max-height: 260px;
		.institution{
			
			width: 216px;
			//height: 128px;
			display: inline-table;
			background:@beige;
			border: 1px solid @dkbeige;
			margin: 0 2%;
			text-align: center;
			vertical-align: top;
			
			figure{
				height: 78px;
				padding-bottom: 18px;
				
			}
			
			img{
				
				padding: 20px 0 5px;
			}
						
			h4{
				
				.sans-serif;
				font-weight: 100;
				font-size: .9em;
				white-space:pre-line;
				width: 80%;
				margin: 0 auto;
				color: @dkbrown;
				
			}
			
			p{
				.serif;
				font-size: .75em;
				font-style: italic;
				vertical-align: baseline;
				background: @tan;
				padding: 10px 0;
				position: relative;
				color: @dkbrown;
				//margin: 20px 0 0;
				
			}
			
		}	
		.institution.first{
			
			//background: @dkbrown;
			margin: 0 2% 0 0;
		}

	}//.new
	
}//section#main.home

// FORUM PAGE
section#main.forum{
	background: @lined-pattern;

	#overview{

		header{ width: 100%; height: 4px; display: block; background-color:@dkbrown;}
		footer{ width: 140px; height: 28px; background-color: @medbrown; float: right; margin: 0 20px 0 0;
				p { .sans-serif; margin: 4px 0 0 0; padding: 0; text-align: center; color: @beige; font-size: .9em;}
				}
	}

	#page-content{

		width: 100%;
		display: block;
		margin: 0 0 0 20px;
		.question;
	}
	

}//section#main.forum


section#main.badges{

	background: @dotted-pattern;

	h2{

		margin: 0;
		padding: 20px 0 0 20px;
		.sans-serif;
		text-transform: uppercase;
		float: left;
	}


	.aquapons-badges{

		width: 100%;
		display: block;
		height: 134px;
		margin: 0;
		padding: 10px 0;
		background: url('imgs/practioner_badge.png') no-repeat center;

	}
	.badges-display;

	.skills-badges{

		width: 100%;
		display: block;


	}
	

	section.badges-desc{

		width: 100%;
		margin: 0;
		padding: 40px 20px 80px 20px;


		section.badges-desc-content{

			width: 74%;
			display: inline-block;
			vertical-align: top;

			p{color: @dkbrown;}

			p.main-copy{
				.sans-serif;
				font-weight: 200;
				font-size: 1.5em;
				margin: 0 0 20px 0;
			}
			p.body-copy{

				width: 45%;
				margin: 0;
				display: inline-block;
				font-weight: 400;
				.serif;

			}

			p.body-copy:nth-child(even){

				margin: 0 5% 0 0;

			}

		}

		section.open-badges-callout{

			width: 20%;
			height: 295px;
			padding: 10px 20px 10px 20px;
			background: @offwhite;
			display: inline-block;
			vertical-align: top;
			.open-badges-callout-shadow;

			div{
				width: 100%;
				height: 95px;
				background: url('imgs/mozilla_foundation.png') no-repeat center;
				padding: 10px 0;
			}

			p{

				.sans-serif;
			}

			p.link{

				background: @dkbrown;
				border-bottom-left-radius: 5px;
				border-top-left-radius: 5px;
				color: @beige;
				width:100px;
				padding: 10px;
				margin: 10px 0 0 0;
				font-size: .8em;
				text-transform: uppercase;
				position: relative;

			}
			p.link:after{
				content: ' ';
				height: 0;
				position: absolute;
				width: 0;
				top:0;
				left: 120px;
				border: 17px solid transparent;
				border-left-color:@dkbrown;
			}

		}

	}
}//section#main.badges

section#main.badges.page.aquapons{
	

	
	//background: @teal;
	#aquapons-navigation{
		
		padding: 15px 0;
		max-height: 140px;
		background: @offwhite;
		overflow: hidden;
		text-align: center;
		vertical-align: middle;
		width: 100%;
	}
	.page-back, .page-forward{ display: inline-block; width: 30px; height: 38px;position: relative;}
	.page-back{//float: left;
		background: url('imgs/badges-arrow-left.png') center no-repeat;
	}
	.page-forward{//float: right;
		background: url('imgs/badges-arrow-right.png') center no-repeat;
		//float: left;
		
		right: 20px;
		
	}
	div.aquapons.badge{
		
		display: inline-block;
		margin: 10px 10%;
		text-align: center;
		width: 134px;
		height: 134px;
		vertical-align: middle;
		
		a{ 	position: relative; 
			display:inline; 
			color: @dkbrown; 
			text-transform: uppercase; 
			font-weight: bold; 
			font-size: .8em; 
			vertical-align: center;
			clear:both;
			text-align: center;

			}
		a.focus.junior-apprentice,  a.focus.senior-apprentice{ top: -85px; }
		a.focus{ top: -78px;}
		a.secondary{ top: -65px; font-size: .75em; font-weight: 300; }
		a.secondary.junior-apprentice, a.secondary.senior-apprentice{ top: -72px; }
		img.focus{ position: relative; display: inline; width: 134px; height: 134px;}
		img.secondary{ width:107px; height: 107px; }
	}
	div.aquapons.badge.hide{
		
		display: none;
	}
	
	.badges-display;

}


footer.main{
	width: 100%;
	display: block;
	//min-height: 275px;
	background: @dkbrown; /* Old browsers */
	background: -moz-linear-gradient(top, #423c2e 0%, #221f17 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#423c2e), color-stop(92%,#221f17)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #423c2e 0%,#221f17 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #423c2e 0%,#221f17 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #423c2e 0%,#221f17 92%); /* IE10+ */
	background: linear-gradient(to bottom, #423c2e 0%,#221f17 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#423c2e', endColorstr='#221f17',GradientType=0 ); /* IE6-9 */

	header#pagination{

		width: 100%;
		display: block;
		padding: 10px 0 0;
		height: 60px;
		.header-ul;

		p{display: inline-block; .sans-serif; vertical-align: middle;}
		p.left{ }
		p.right{ }
		text-align: center;
		ul{ display: inline-block; width: 87%; vertical-align: middle; 

			li{ .sans-serif; 
				font-size: 1.35em;
			}
		}


	}
	footer{

		min-height: 275px;
		width: 100%;
		display:block;
		padding: 20px 0 0;

		.header-ul;

		ul {

			width: 100%;
		

			li{

				width: 21.75%;
				margin: 0;
				padding: 20px 2% 0;
				//height: 100%;
				vertical-align: top;
				//background-color: @beige;
				//border: 1px solid red;

				h4{

					.sans-serif;
					margin:0;
					padding: 0;
					color: @beige;
					font-weight: 200;
				}

				p{

					.sans-serif;
					color:@dkbeige;
					font-size: 1em;
					font-weight: 200;
					line-height: 1.2em;

				}

				hr{ .hr;

				}

				hr.fish{background-color: @orange; color: @orange;}
				hr.water{background-color: @blue; color: @orange;}
				hr.plant{background-color:@green; color: @orange;}
				hr.design-build{background-color:@purple; color: @orange;}

			}


			#site-desc{
				margin: -30px 0 0;
				padding: 0 ;
				width: 18.5%;
				background-color:@dkbeige;

				h4{

					text-indent: -999px;
					overflow: hidden;
					background: url('imgs/swf_logo.png');
					background-repeat: no-repeat;
					background-position: center;
					width: 183px;
					height: 68px;
					margin: 20px 25px;

				}

				p{ color: @dkbrown; padding: 0px 5px 10px 10px; font-size: .8em;}
			}
		}

		#copyright{ float: right; clear: both; margin: 55px 30px 0 0; vertical-align: bottom; color:@dkbeige; font-size: .7em;}

	}
}
