html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.sans-serif {
  font-family: "proxima-nova", Verdana, sans-serif;
}
.serif {
  font-family: "jubilant", Georgia, Serif;
}
.left {
  float: left;
}
.right {
  float: right;
}
.vertical_align {
  display: table-cell;
  vertical-align: middle;
}
.hide {
  display: none;
}
.sub-nav-shadow {
  -moz-box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
  box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
}
.open-badges-callout-shadow {
  -moz-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 10px 4px rgba(0,0,0,0.3);
}
.header-lock {
  display: block;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
}
.button {
  margin: 3px;
  padding: 4px 8px;
  background: #8daa92;
  display: inline-block;
}
.text-content {
  padding: 20px;
}
.main-col {
  display: inline-table;
  width: 75%;
}
body {
  border: 0;
  margin: 0;
  padding: 0;
  color: #423c2e;
  background-color: #f9f6ef;
  font-family: "jubilant", Georgia, Serif;
  line-height: 1.2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova", Verdana, sans-serif;
}
h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4em;
  padding: 20px 0 10px 0;
  color: #423c2e;
  text-align: left;
}
a,
a:visited {
  color: #a59e8f;
  text-decoration: none;
  font-family: "proxima-nova", Verdana, sans-serif;
}
hr {
  border: none;
  border-bottom: 1px solid #423c2e;
}
header {
  background-color: #f9f6ef;
  position: relative;
}
header #main-nav {
  height: 27px;
  background-color: #423c2e;
  color: #f9f6ef;
  top: 0;
  padding: 20px 0 0;
}
header #main-nav h1#branding {
  display: inline;
  margin: 0 0 0 20px;
  font-weight: bold;
  vertical-align: center;
  letter-spacing: .25em;
}
header #main-nav h1#branding a {
  color: #f9f6ef;
  text-transform: uppercase;
  font-size: 1.25em;
}
header #main-nav a {
  font-size: 13px;
  text-transform: uppercase;
}
header #main-nav a:hover {
  color: #f7f1e5;
}
header #main-nav .selected a {
  color: #f7f1e5;
}
header #main-nav .sub-nav a,
header #main-nav .selected .sub-nav a {
  color: #423c2e;
}
header #main-nav .sub-nav a:hover,
header #main-nav .selected .sub-nav a:hover {
  color: #f9f6ef;
}
header #main-nav ul {
  padding: 0;
  margin: 0;
  display: inline;
}
header #main-nav ul li {
  display: inline-block;
}
header #main-nav ul#navigation {
  margin: 0 0 0 24px;
  vertical-align: center;
}
header #main-nav li {
  margin: 0 15px 0 0;
  padding: 0 0 1px;
}
header #main-nav .resources:hover,
header #main-nav .resources.selected {
  border-bottom: 4px solid #82bcf1;
}
header #main-nav .badges:hover,
header #main-nav .badges.selected {
  border-bottom: 4px solid #dbad35;
}
header #main-nav .community:hover,
header #main-nav .community.selected {
  border-bottom: 4px solid #acb200;
}
header #main-nav .about:hover,
header #main-nav .about.selected {
  border-bottom: 4px solid #e13955;
}
header #main-nav #profile {
  padding: 0 0 1px;
  border-bottom: 4px solid #8d3b92;
}
header #main-nav ul#profile {
  float: right;
  vertical-align: center;
}
header ul#navigation .sub-nav {
  position: absolute;
  z-index: 100;
  margin: 5px 0;
  left: 0;
  right: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  height: 0px;
  overflow: hidden;
  -moz-box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
  box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
}
header ul#navigation .sub-nav li {
  margin: 1px 4px 0 0;
}
header ul#navigation .sub-nav li:before {
  content: "• ";
  color: #f9f6ef;
}
header ul#navigation .sub-nav li:first-child:before {
  content: "";
}
header ul#navigation li:hover .sub-nav {
  height: 25px;
}
header .resources .sub-nav {
  padding-left: 192px;
  background: #82bcf1;
}
header .badges .sub-nav {
  padding-left: 282px;
  background: #dbad35;
}
header .community .sub-nav {
  background: #acb200;
}
header .about .sub-nav {
  background: #e13955;
}
header .profile .sub-nav {
  background: #8d3b92;
}
header #crumb-nav {
  font-size: .8em;
  padding: 20px;
}
header #crumb-nav li {
  display: inline-block;
  margin: 6px 0 0 0;
}
header #secondary-nav {
  height: 117px;
  padding: 0 1.5%;
  margin: 80px 0 0;
  position: relative;
  direction: block;
  z-index: 10;
  -moz-box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
  box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
}
header #secondary-nav section {
  position: relative;
  background-color: #f9f6ef !important;
  display: inline-block;
  margin: 40px 0 0 2%;
  vertical-align: bottom;
}
header #secondary-nav section p,
header #secondary-nav section h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #f9f6ef;
}
header #secondary-nav section h2 a {
  color: #423c2e;
}
header #secondary-nav section ul li a,
header #secondary-nav section p a {
  font-family: "jubilant", Georgia, Serif;
  background-color: #f9f6ef;
}
header #secondary-nav section a {
  background: #f9f6ef;
}
header #secondary-nav section:first-child {
  margin: 40px 0 0;
}
header #secondary-nav #page-search {
  width: 28%;
  padding: 0 0 18px 0;
}
header #secondary-nav #page-search form {
  display: inline;
  margin: 0 0 0 1%;
}
header #secondary-nav #page-search input[type="text"] {
  border: 0;
  background: #f9f6ef;
  outline: none;
  width: 90%;
  font-family: "jubilant", Georgia, Serif;
  font-size: 14px;
  font-style: italic;
  color: #a59e8f;
}
header #secondary-nav #page-search input[type="submit"] {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 12px;
  height: 12px;
  text-indent: -999px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  background-image: url('imgs/search_icon.png');
  background-repeat: no-repeat;
}
header #secondary-nav #main-links {
  background-color: #f7f1e5;
  width: 69%;
  display: inline-table;
}
header #secondary-nav #main-links ul {
  padding: 0;
  margin: 0;
  display: inline;
}
header #secondary-nav #main-links ul li {
  display: inline-block;
}
header #secondary-nav #main-links li {
  color: #a59e8f;
  margin: 0;
}
header #secondary-nav #main-links li:before {
  content: "• ";
}
header #secondary-nav #main-links li:first-child:before {
  content: "";
}
header #secondary-nav #main-links.aquapons {
  width: 69.7%;
}
header #secondary-nav #content-filter,
header #secondary-nav #content-sort {
  width: 15%;
  background: #f7f1e5;
}
footer.main {
  width: 100%;
  display: block;
  background: #423c2e;
  background: -moz-linear-gradient(top,#423c2e 0%,#221f17 92%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#423c2e),color-stop(92%,#221f17));
  background: -webkit-linear-gradient(top,#423c2e 0%,#221f17 92%);
  background: -o-linear-gradient(top,#423c2e 0%,#221f17 92%);
  background: -ms-linear-gradient(top,#423c2e 0%,#221f17 92%);
  background: linear-gradient(to bottom,#423c2e 0%,#221f17 92%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#423c2e',endColorstr='#221f17',GradientType=0);
}
footer.main header#pagination {
  width: 100%;
  display: block;
  padding: 10px 0 0;
  height: 60px;
  text-align: center;
}
footer.main header#pagination ul {
  padding: 0;
  margin: 0;
  display: inline;
}
footer.main header#pagination ul li {
  display: inline-block;
}
footer.main header#pagination p {
  display: inline-block;
  font-family: "proxima-nova", Verdana, sans-serif;
  vertical-align: middle;
}
footer.main header#pagination ul {
  display: inline-block;
  width: 87%;
  vertical-align: middle;
}
footer.main header#pagination ul li {
  font-family: "proxima-nova", Verdana, sans-serif;
  font-size: 1.35em;
}
footer.main footer {
  min-height: 275px;
  width: 100%;
  display: block;
  padding: 20px 0 0;
}
footer.main footer ul {
  padding: 0;
  margin: 0;
  display: inline;
}
footer.main footer ul li {
  display: inline-block;
}
footer.main footer ul {
  width: 100%;
}
footer.main footer ul li {
  width: 21.75%;
  margin: 0;
  padding: 20px 2% 0;
  vertical-align: top;
}
footer.main footer ul #daily-tip p {
  font-size: 18px;
}
footer.main footer ul #site-desc {
  margin: -30px 0 0;
  padding: 0;
  width: 240px;
  position: relative;
  z-index: 200;
  background-color: #a59e8f;
}
footer.main footer ul #site-desc h4 {
  text-indent: -999px;
  overflow: hidden;
  background: url('imgs/swf_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 183px;
  height: 68px;
  margin: 20px 25px;
}
footer.main footer ul #site-desc hr {
  margin: 10px;
}
footer.main footer ul #site-desc p {
  color: #423c2e;
  padding: 5px 15px;
  font-size: .8em;
}
footer.main footer h4 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #f9f6ef;
  font-weight: 200;
}
footer.main footer p {
  margin: 0 0 1em;
  font-family: "proxima-nova", Verdana, sans-serif;
  color: #a59e8f;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.2em;
}
footer.main footer a,
footer.main footer a:visited {
  color: #f9f6ef;
}
footer.main footer hr {
  border-bottom: 1px solid #716854;
}
footer.main footer hr.fish {
  border-bottom: 1px solid #ce691f;
}
footer.main footer hr.water {
  border-bottom: 1px solid #ce691f;
}
footer.main footer hr.plant {
  border-bottom: 1px solid #ce691f;
}
footer.main footer hr.design-build {
  border-bottom: 1px solid #ce691f;
}
footer.main footer #copyright {
  float: right;
  clear: both;
  margin: 55px 30px 0 0;
  vertical-align: bottom;
  color: #a59e8f;
  font-size: .7em;
}
.sidebar {
  display: inline-table;
  min-height: 600px;
  width: 20%;
  padding: 0 2%;
  clear: left;
}
.sidebar h4 {
  font-family: "proxima-nova", Verdana, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #423c2e;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #423c2e;
}
.sidebar hr {
  border: 0;
  height: 1px;
  color: #716854;
  background-color: #716854;
  display: block;
  padding: 0;
  margin: 0;
}
.sidebar p {
  width: 100%;
  font-family: "jubilant", Georgia, Serif;
  color: #423c2e;
  margin: 12px 0;
  font-size: .9em;
}
.sidebar li {
  width: 100%;
  padding: 5px 0 5px;
}
.sidebar a {
  color: #078c78;
  font-family: "jubilant", Georgia, Serif;
  text-decoration: underline;
}
.tmce-active .mceEditor iframe {
  background: #f9f6ef;
}
.tmce-active .mceEditor p {
  color: #423c2e;
  font-size: 16px;
  line-height: 1.2em;
}
.tmce-active .mceEditor table td {
  vertical-align: top;
}
.tmce-active .mceEditor .mceStatusbar {
  display: none;
}
.tmce-active .wp-editor-container {
  border: none;
  border-width: 0;
}
.badge.water,
.badge.fish,
.badge.plant,
.badge.design-build {
  margin: 0;
  padding: 20px 1.5% 0;
}
.skill.badge,
.skill-activity {
  width: 80px;
  height: 116px;
  margin: 0 10px 20px 10px;
  display: inline-table;
  padding: 10px;
  text-align: left;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  color: #f9f6ef;
  font-family: "proxima-nova", Verdana, sans-serif;
}
.skill.badge a,
.skill-activity a {
  color: #f9f6ef;
}
.skill.badge hr,
.skill-activity hr {
  border: 0;
  height: 1px;
  color: #f9f6ef;
  background: #f9f6ef;
}
.water .skill.badge {
  background: #086098;
  background: -webkit-linear-gradient(140deg,transparent 15px,#086098 15px);
  background: -o-linear-gradient(320deg,transparent 15px,#086098 15px);
  background: -moz-linear-gradient(320deg,transparent 15px,#086098 15px);
  background: linear-gradient(320deg,transparent 15px,#086098 15px);
}
.water .skill.badge:nth-child(3n-1) {
  background: #3f268e;
  background: -webkit-linear-gradient(140deg,transparent 15px,#3f268e 15px);
  background: -o-linear-gradient(320deg,transparent 15px,#3f268e 15px);
  background: -moz-linear-gradient(320deg,transparent 15px,#3f268e 15px);
  background: linear-gradient(320deg,transparent 15px,#3f268e 15px);
}
.water .skill.badge:nth-child(4n-1) {
  background: #26a3c2;
  background: -webkit-linear-gradient(140deg,transparent 15px,#26a3c2 15px);
  background: -o-linear-gradient(320deg,transparent 15px,#26a3c2 15px);
  background: -moz-linear-gradient(320deg,transparent 15px,#26a3c2 15px);
  background: linear-gradient(320deg,transparent 15px,#26a3c2 15px);
}
.fish .skill.badge {
  background: #c93e1b;
  background: -webkit-linear-gradient(140deg,transparent 15px,#c93e1b 15px);
  background: -o-linear-gradient(320deg,transparent 15px,#c93e1b 15px);
  background: -moz-linear-gradient(320deg,transparent 15px,#c93e1b 15px);
  background: linear-gradient(320deg,transparent 15px,#c93e1b 15px);
}
.fish .skill.badge:nth-child(3n-1) {
  background: #dbad35;
  background: -webkit-linear-gradient(140deg,transparent 15px,#dbad35 15px);
  background: -o-linear-gradient(320deg,transparent 15px,#dbad35 15px);
  background: -moz-linear-gradient(320deg,transparent 15px,#dbad35 15px);
  background: linear-gradient(320deg,transparent 15px,#dbad35 15px);
}
.fish .skill.badge:nth-child(4n-1) {
  background: #ce691f;
  background: -webkit-linear-gradient(140deg,transparent 15px,#ce691f 15px);
  background: -o-linear-gradient(320deg,transparent 15px,#ce691f 15px);
  background: -moz-linear-gradient(320deg,transparent 15px,#ce691f 15px);
  background: linear-gradient(320deg,transparent 15px,#ce691f 15px);
}
.plant .skill.badge {
  background: #4c7f0f;
  background: -webkit-linear-gradient(140deg,transparent 15px,#4c7f0f 15px);
  background: -o-linear-gradient(320deg,transparent 15px,#4c7f0f 15px);
  background: -moz-linear-gradient(320deg,transparent 15px,#4c7f0f 15px);
  background: linear-gradient(320deg,transparent 15px,#4c7f0f 15px);
}
.plant .skill.badge:nth-child(3n-1) {
  background: #078c78;
  background: -webkit-linear-gradient(140deg,transparent 15px,#078c78 15px);
  background: -o-linear-gradient(320deg,transparent 15px,#078c78 15px);
  background: -moz-linear-gradient(320deg,transparent 15px,#078c78 15px);
  background: linear-gradient(320deg,transparent 15px,#078c78 15px);
}
.plant .skill.badge:nth-child(4n-1) {
  background: #acb200;
  background: -webkit-linear-gradient(140deg,transparent 15px,#acb200 15px);
  background: -o-linear-gradient(320deg,transparent 15px,#acb200 15px);
  background: -moz-linear-gradient(320deg,transparent 15px,#acb200 15px);
  background: linear-gradient(320deg,transparent 15px,#acb200 15px);
}
.design-build .skill.badge {
  background: #8d3b92;
  background: -webkit-linear-gradient(140deg,transparent 15px,#8d3b92 15px);
  background: -o-linear-gradient(320deg,transparent 15px,#8d3b92 15px);
  background: -moz-linear-gradient(320deg,transparent 15px,#8d3b92 15px);
  background: linear-gradient(320deg,transparent 15px,#8d3b92 15px);
}
.design-build .skill.badge:nth-child(3n-1) {
  background: #e13955;
  background: -webkit-linear-gradient(140deg,transparent 15px,#e13955 15px);
  background: -o-linear-gradient(320deg,transparent 15px,#e13955 15px);
  background: -moz-linear-gradient(320deg,transparent 15px,#e13955 15px);
  background: linear-gradient(320deg,transparent 15px,#e13955 15px);
}
.design-build .skill.badge:nth-child(4n-1) {
  background: #716854;
  background: -webkit-linear-gradient(140deg,transparent 15px,#716854 15px);
  background: -o-linear-gradient(320deg,transparent 15px,#716854 15px);
  background: -moz-linear-gradient(320deg,transparent 15px,#716854 15px);
  background: linear-gradient(320deg,transparent 15px,#716854 15px);
}
.badge.incomplete {
  opacity: .5;
}
.badge.aquapons {
  display: inline-block;
  margin: 10px 0;
  width: 24%;
  height: 107px;
  background: url(imgs/practioner_secondary.png) no-repeat center center;
}
.badge.aquapons.current,
.badge.aquapons.complete {
  background: url(imgs/practioner_focus.png) no-repeat center center;
  background-size: contain;
}
.badge.aquapons a,
.badge.content a {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  color: #423c2e;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .75em;
}
.badge.content {
  display: inline-block;
  height: 83px;
  width: 118px;
  text-indent: 9999px;
}
.badge.content.water {
  background: url('imgs/water_badge.png') no-repeat center;
}
.badges-display {
  width: 100%;
  display: block;
}
.badges-display .badge-stack {
  display: inline-block;
  width: 24%;
  vertical-align: top;
  margin: 20px 0 0;
  text-align: center;
}
.badges-display .content {
  text-align: center;
}
.question {
  width: 97%;
  max-width: 900px;
  min-height: 64px;
  display: block;
  margin: 10px 0 0 0;
  padding: 5px 0;
}
.question .qleft {
  width: 120px;
  display: inline-block;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 0 15px 0;
  padding: 2px 0 0px;
}
.question .qleft p {
  color: #423c2e;
  font-size: 1.75em;
  font-family: "proxima-nova", Verdana, sans-serif;
  text-align: center;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
.question .qleft p em {
  font-size: .4em;
  display: block;
}
.question .qleft p:last-child {
  margin: -38px 0 0 70px;
}
.question .qleft hr {
  display: inline-block;
  width: 80px;
  transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  margin: 0 0 0 -15px;
}
.question .qright {
  display: inline-block;
  width: 80%;
  background-color: #f9f6ef;
}
.question .qright div {
  width: 12px;
  min-height: 64px;
  margin: 0;
  padding: 0;
  float: left;
  margin: 0 10px 0 0;
}
.question .qright div.water {
  background-color: #086098;
}
.question .qright div.plant {
  background-color: #4c7f0f;
}
.question .qright div.design-build {
  background-color: #8d3b92;
}
.question .qright div.fish {
  background-color: #ce691f;
}
.question .qright h3 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 1.2em;
  font-family: georgia, serif;
}
.question .qright p {
  margin: 0;
  padding: 2px 0 0;
  font-size: .8em;
  font-family: "proxima-nova", Verdana, sans-serif;
}
.question .qright p a.water,
.question .qright p a.water:visited {
  color: #086098;
}
.question .qright p a.plant,
.question .qright p a.plant:visited {
  color: #4c7f0f;
}
.question .qright p a.design-build,
.question .qright p a.design-build:visited {
  color: #8d3b92;
}
.question .qright p a.fish,
.question .qright p a.fish:visited {
  color: #ce691f;
}
.header-ul ul {
  padding: 0;
  margin: 0;
  display: inline;
}
.header-ul ul li {
  display: inline-block;
}
header.badges #main-links {
  width: 68% !important;
}
header.badges #content-filter,
header.badges #content-sort {
  width: 0 !important;
  display: none !important;
  overflow: none !important;
}
#main {
  position: relative;
  width: 100%;
  min-height: 500px !important;
  padding-bottom: 40px;
  zoom: 1;
}
#main:before {
  content: '';
  display: block;
}
#main:after {
  content: '';
  display: table;
  clear: both;
}
.badges #main {
  background: url('imgs/dot_dark.png');
}
.badges .aquapons-badges {
  width: 100%;
  display: block;
  height: 134px;
  margin: 0;
  padding: 10px 0;
  background: url('imgs/practioner_badge.png') no-repeat center;
}
.badges .skills-badges {
  width: 100%;
  display: block;
}
.badges .badges-display {
  width: 100%;
  display: block;
}
.badges .badges-display .water,
.badges .badges-display .fish,
.badges .badges-display .plant,
.badges .badges-display .design-build {
  display: inline-block;
  width: 21.75%;
  margin: 0;
  padding: 20px 1.5% 0;
}
.badges #badge-nav {
  width: 100%;
  display: block;
  text-align: center;
  background: #a59e8f;
  padding: 20px 0;
}
.badges #badge-nav h2 {
  text-align: center;
  float: none;
  font-size: 1.6em;
  font-weight: bold;
  color: #f7f1e5;
  text-transform: capitalize;
}
.badges #badge-nav hr {
  border: 0;
  height: 1px;
  width: 70%;
  color: #f7f1e5;
  background: #f7f1e5;
}
.badges #badge-nav ul#skill-badge-subnav {
  display: inline;
  list-style: disc;
}
.badges #badge-nav ul#skill-badge-subnav li {
  display: inline;
  padding: 10px;
  color: #f7f1e5;
}
.badges #badge-nav ul#skill-badge-subnav li a {
  color: #f7f1e5;
}
.badges #badge-outline {
  display: block;
  clear: both;
  padding: 40px 12%;
  background: #f7f1e5;
  text-align: center;
  -moz-box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
  box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
}
.badges #badge-outline p {
  font-family: "proxima-nova", Verdana, sans-serif;
  font-size: 1.4em;
  text-align: center;
}
.badges #skill-badge-activities {
  padding: 20px 12%;
  text-align: center;
}
.badges #skill-badge-activities h3 {
  font-family: "proxima-nova", Verdana, sans-serif;
  font-color: #423c2e;
  text-transform: uppercase;
  font-weight: bold;
}
.badges #skill-badge-activities article.skill-activity {
  display: inline-block;
  width: 110px;
  height: 110px;
  margin: 20px 10px 10px;
  padding: 24px;
  text-align: left;
  vertical-align: top;
}
.badges #skill-badge-activities article.skill-activity hr {
  color: #f7f1e5;
  background: #f7f1e5;
}
.badges .water #badge-nav,
.badges .water .skill-activity {
  background: #26a3c2;
}
.badges .fish #badge-nav,
.badges .fish .skill-activity {
  background: #ce691f;
}
.badges .plant #badge-nav,
.badges .plant .skill-activity {
  background: #acb200;
}
.badges .design-build #badge-nav,
.badges .design-build .skill-activity {
  background: #8d3b92;
}
.page-home #main {
  background: url('imgs/dot_dark.png');
}
.page-home #mantle {
  width: 100%;
  text-align: center;
}
.page-home #mantle ul {
  padding: 0;
  margin: 0;
  display: inline;
}
.page-home #mantle ul li {
  display: inline-block;
}
.page-home #mantle #showcase figcaption {
  width: 400px;
  position: absolute;
  top: 200px;
  left: 60%;
  display: run-in;
  color: #f9f6ef;
  text-align: right;
}
.page-home #mantle #showcase figcaption h4 {
  display: block;
  margin: .7em 0;
  font-family: "jubilant", Georgia, Serif;
  font-size: 3em;
  text-transform: capitalize;
  text-shadow: rgba(0,0,0,0.8) 2px 2px 2px;
}
.page-home #mantle #showcase figcaption p {
  display: block;
  margin: .7em 0;
  text-shadow: rgba(0,0,0,0.8) 2px 2px 2px;
}
.page-home #mantle #showcase figcaption p.institution {
  font-family: "proxima-nova", Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6em;
}
.page-home #mantle #showcase figcaption p.location {
  font-family: "proxima-nova", Verdana, sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}
.page-home #mantle #showcase img {
  width: 100% !important;
  height: auto;
}
.page-home .steps {
  position: relative;
  top: -4px;
}
.page-home .steps a {
  display: block;
  margin: 0;
  padding: 0 1%;
  width: 100%;
  height: 100%;
}
.page-home .steps ul {
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  position: absolute;
  bottom: 0px;
  text-align: center;
}
.page-home .steps ul li {
  display: inline-block;
  height: 86px;
  margin: 0 1%;
  width: 15%;
  font-family: "proxima-nova", Verdana, sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: .7em;
  background: #d6cebe;
  overflow: hidden;
  color: #423c2e;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.page-home .steps ul li figure {
  padding: 10px 0;
  height: 35px;
  width: auto;
}
.page-home .steps ul li figure img {
  vertical-align: center;
  max-width: 90%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.page-home .steps ul li h3 {
  vertical-align: bottom;
  text-transform: uppercase;
}
.page-home .steps ul li hr {
  width: 80%;
  margin: 8px auto;
  border: none;
  border-top: 1px solid #d6cebe;
}
.page-home .steps ul li p {
  padding: 0 5%;
  font-family: "jubilant", Georgia, Serif;
  font-weight: normal;
  font-size: 16px;
}
.page-home .steps ul li:hover {
  height: 175px;
  background: #f9f6ef;
}
.page-home .steps ul li:hover img {
  opacity: 0.5;
}
.page-home .steps #stripes {
  width: 100%;
  height: 10px;
  background: url('imgs/pagestripes.png') repeat-x;
  position: relative;
  top: 0px;
}
.page-home #callout {
  width: 100%;
  position: relative;
  max-height: 250px;
  overflow: hidden;
  font-family: "proxima-nova", Verdana, sans-serif;
  padding: 0 2%;
}
.page-home #callout figure {
  display: inline-table;
  margin: 10px;
  padding: 0 2%;
}
.page-home #callout figure img {
  width: 160px;
  height: 160px;
  overflow: hidden;
}
.page-home #callout figure figcaption {
  text-align: center;
}
.page-home #callout figure figcaption h3 {
  font-weight: bold;
  color: #078c78;
}
.page-home #callout figure.first {
  padding: 0;
  margin-left: 0;
}
.page-home #new-institutions {
  padding: 20px 0 0;
  overflow-x: auto;
  overflow-y: hidden;
  height: 240px;
  white-space: nowrap;
}
.page-home #new-institutions .institution {
  width: 216px;
  display: inline-block;
  background: #f9f6ef;
  border: 1px solid #a59e8f;
  margin: 0 2% 0 0;
  text-align: center;
  vertical-align: top;
}
.page-home #new-institutions .institution figure {
  height: 78px;
  padding-bottom: 18px;
}
.page-home #new-institutions .institution img {
  padding: 20px 0 5px;
}
.page-home #new-institutions .institution h4 {
  font-family: "proxima-nova", Verdana, sans-serif;
  font-weight: 100;
  font-size: .9em;
  white-space: pre-line;
  width: 80%;
  margin: 0 auto;
  color: #423c2e;
}
.page-home #new-institutions .institution p {
  font-family: "jubilant", Georgia, Serif;
  font-size: .75em;
  font-style: italic;
  vertical-align: baseline;
  background: #ebe5d9;
  padding: 10px 0;
  position: relative;
  color: #423c2e;
}
.page-home #new-institutions .institution.first {
  margin: 0 2% 0 0;
}
section#main.forum {
  background: url('imgs/lined_pattern.png');
}
section#main.forum #overview header {
  width: 100%;
  height: 4px;
  display: block;
  background-color: #423c2e;
}
section#main.forum #overview footer {
  width: 140px;
  height: 28px;
  background-color: #716854;
  float: right;
  margin: 0 20px 0 0;
}
section#main.forum #overview footer p {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 4px 0 0 0;
  padding: 0;
  text-align: center;
  color: #f9f6ef;
  font-size: .9em;
}
section#main.forum #page-content {
  width: 100%;
  display: block;
  margin: 0 0 0 20px;
  width: 97%;
  max-width: 900px;
  min-height: 64px;
  display: block;
  margin: 10px 0 0 0;
  padding: 5px 0;
}
section#main.forum #page-content .qleft {
  width: 120px;
  display: inline-block;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 0 15px 0;
  padding: 2px 0 0px;
}
section#main.forum #page-content .qleft p {
  color: #423c2e;
  font-size: 1.75em;
  font-family: "proxima-nova", Verdana, sans-serif;
  text-align: center;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
section#main.forum #page-content .qleft p em {
  font-size: .4em;
  display: block;
}
section#main.forum #page-content .qleft p:last-child {
  margin: -38px 0 0 70px;
}
section#main.forum #page-content .qleft hr {
  display: inline-block;
  width: 80px;
  transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  margin: 0 0 0 -15px;
}
section#main.forum #page-content .qright {
  display: inline-block;
  width: 80%;
  background-color: #f9f6ef;
}
section#main.forum #page-content .qright div {
  width: 12px;
  min-height: 64px;
  margin: 0;
  padding: 0;
  float: left;
  margin: 0 10px 0 0;
}
section#main.forum #page-content .qright div.water {
  background-color: #086098;
}
section#main.forum #page-content .qright div.plant {
  background-color: #4c7f0f;
}
section#main.forum #page-content .qright div.design-build {
  background-color: #8d3b92;
}
section#main.forum #page-content .qright div.fish {
  background-color: #ce691f;
}
section#main.forum #page-content .qright h3 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 1.2em;
  font-family: georgia, serif;
}
section#main.forum #page-content .qright p {
  margin: 0;
  padding: 2px 0 0;
  font-size: .8em;
  font-family: "proxima-nova", Verdana, sans-serif;
}
section#main.forum #page-content .qright p a.water,
section#main.forum #page-content .qright p a.water:visited {
  color: #086098;
}
section#main.forum #page-content .qright p a.plant,
section#main.forum #page-content .qright p a.plant:visited {
  color: #4c7f0f;
}
section#main.forum #page-content .qright p a.design-build,
section#main.forum #page-content .qright p a.design-build:visited {
  color: #8d3b92;
}
section#main.forum #page-content .qright p a.fish,
section#main.forum #page-content .qright p a.fish:visited {
  color: #ce691f;
}
.page-badges-overview h2 {
  padding: 20px 0 0 20px;
}
.page-badges-overview #main section {
  padding: 0 10px;
}
.page-badges-overview .content-badges {
  height: 118px;
}
.page-badges-overview .water .content-badges {
  background: url('imgs/water_badge.png') no-repeat center;
}
.page-badges-overview .fish .content-badges {
  background: url('imgs/fish_badge.png') no-repeat center;
}
.page-badges-overview .plant .content-badges {
  background: url('imgs/plants_badge.png') no-repeat center;
}
.page-badges-overview .design-build .content-badges {
  background: url('imgs/design_badge.png') no-repeat center;
}
.page-badges-overview .skills-badges article {
  height: 64px;
  width: 23%;
  margin: 0;
  display: inline-block;
}
.page-badges-overview .water .skills-badges .one {
  background: url('imgs/skill_small_dkblue.png') no-repeat center;
}
.page-badges-overview .water .skills-badges .two {
  background: url('imgs/skill_small_ltblue.png') no-repeat center;
}
.page-badges-overview .water .skills-badges .three {
  background: url('imgs/skill_small_dkpurple.png') no-repeat center;
}
.page-badges-overview .water .skills-badges .four {
  background: url('imgs/skill_small_dkblue.png') no-repeat center;
}
.page-badges-overview .fish .skills-badges .one {
  background: url('imgs/skill_small_orange.png') no-repeat center;
}
.page-badges-overview .fish .skills-badges .two {
  background: url('imgs/skill_small_yellow.png') no-repeat center;
}
.page-badges-overview .fish .skills-badges .three {
  background: url('imgs/skill_small_red.png') no-repeat center;
}
.page-badges-overview .fish .skills-badges .four {
  background: url('imgs/skill_small_orange.png') no-repeat center;
}
.page-badges-overview .plant .skills-badges .one {
  background: url('imgs/skill_small_dkgreen.png') no-repeat center;
}
.page-badges-overview .plant .skills-badges .two {
  background: url('imgs/skill_small_ltgreen.png') no-repeat center;
}
.page-badges-overview .plant .skills-badges .three {
  background: url('imgs/skill_small_aquagreen.png') no-repeat center;
}
.page-badges-overview .plant .skills-badges .four {
  background: url('imgs/skill_small_dkgreen.png') no-repeat center;
}
.page-badges-overview .design-build .skills-badges .one {
  background: url('imgs/skill_small_purple.png') no-repeat center;
}
.page-badges-overview .design-build .skills-badges .two {
  background: url('imgs/skill_small_pink.png') no-repeat center;
}
.page-badges-overview .design-build .skills-badges .three {
  background: url('imgs/skill_small_gray.png') no-repeat center;
}
.page-badges-overview .design-build .skills-badges .four {
  background: url('imgs/skill_small_purple.png') no-repeat center;
}
.page-badges-overview .activities {
  width: 100%;
  display: block;
  text-align: center;
}
.page-badges-overview .activities h5 {
  font-family: "proxima-nova", Verdana, sans-serif;
  margin: 20px 0 0;
  background: transparent;
}
.page-badges-overview .activities div.bounding {
  border-top: 1px solid #423c2e;
  border-right: 1px solid #423c2e;
  border-left: 1px solid #423c2e;
  height: 8px;
}
.page-badges-overview .activities section {
  width: 100%;
}
.page-badges-overview .activities section div {
  width: 16%;
  margin: 0;
  padding: 0;
  height: 32px;
  display: inline-block;
}
.page-badges-overview .activities section div.water {
  background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
}
.page-badges-overview .activities section div.fish {
  background: url('imgs/activities_tiny_orange.png') no-repeat center;
}
.page-badges-overview .activities section div.plant {
  background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
}
.page-badges-overview .activities section div.design-build {
  background: url('imgs/activities_tiny_purple.png') no-repeat center;
}
.page-badges-overview section.badges-desc {
  width: 100%;
  margin: 40px 20px 0;
}
.page-badges-overview section.badges-desc section.badges-desc-content {
  width: 74%;
  display: inline-block;
  vertical-align: top;
}
.page-badges-overview section.badges-desc section.badges-desc-content p {
  color: #423c2e;
}
.page-badges-overview section.badges-desc section.badges-desc-content p.main-copy {
  font-family: "proxima-nova", Verdana, sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  margin: 0 0 20px 0;
}
.page-badges-overview section.badges-desc section.badges-desc-content p.body-copy {
  width: 45%;
  margin: 0;
  display: inline-block;
  font-weight: 400;
  font-family: "jubilant", Georgia, Serif;
}
.page-badges-overview section.badges-desc section.badges-desc-content p.body-copy:nth-child(even) {
  margin: 0 5% 0 0;
}
.page-badges-overview section.badges-desc section.open-badges-callout {
  width: 20%;
  height: 295px;
  padding: 10px 20px 10px 20px;
  background: #f7f1e5;
  display: inline-block;
  vertical-align: top;
  -moz-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 10px 4px rgba(0,0,0,0.3);
}
.page-badges-overview section.badges-desc section.open-badges-callout div {
  width: 100%;
  height: 95px;
  background: url('imgs/mozilla_foundation.png') no-repeat center;
  padding: 10px 0;
}
.page-badges-overview section.badges-desc section.open-badges-callout p {
  font-family: "proxima-nova", Verdana, sans-serif;
}
.page-badges-overview section.badges-desc section.open-badges-callout p.link {
  background: #423c2e;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #f9f6ef;
  width: 100px;
  padding: 10px;
  margin: 10px 0 0 0;
  font-size: .8em;
  text-transform: uppercase;
  position: relative;
}
.page-badges-overview section.badges-desc section.open-badges-callout p.link:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  top: 0;
  left: 120px;
  border: 17px solid transparent;
  border-left-color: #423c2e;
}
.page-aquapons-badges,
.page-my-badges {
  width: 100%;
  display: block;
}
.page-aquapons-badges #main,
.page-my-badges #main {
  text-align: center;
}
.page-aquapons-badges #aquapons-navigation,
.page-my-badges #aquapons-navigation {
  position: relative;
  padding: 15px 0;
  max-height: 140px;
  background: #f7f1e5;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  -moz-box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
  box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
}
.page-aquapons-badges .page-back,
.page-aquapons-badges .page-forward,
.page-my-badges .page-back,
.page-my-badges .page-forward {
  display: inline-block;
  width: 30px;
  height: 38px;
  position: absolute;
  top: 60px;
}
.page-aquapons-badges .page-back,
.page-my-badges .page-back {
  background: url('imgs/badges-arrow-left.png') center no-repeat;
}
.page-aquapons-badges .page-forward,
.page-my-badges .page-forward {
  background: url('imgs/badges-arrow-right.png') center no-repeat;
  right: 20px;
}
.page-aquapons-badges .content.badge,
.page-my-badges .content.badge {
  margin: 10px auto;
}
.page-aquapons-badges .badge-stack,
.page-my-badges .badge-stack {
  display: inline-block;
  width: 24%;
  vertical-align: top;
  margin: 20px 0 0;
  text-align: center;
}
.page-aquapons-badges .content,
.page-my-badges .content {
  text-align: center;
}
.page-skills-badges .skills-row {
  margin-bottom: 20px;
}
.page-skills-badges .category_descriptions {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -345px;
  width: 340px;
  background: url('imgs/dotted_pattern_light.png');
  border-right: 3px solid #423c2e;
}
.page-skills-badges .category_descriptions .category_info {
  height: 188px;
  padding: 19px 10px;
}
.page-skills-badges .close_category_descriptions {
  font-family: "proxima-nova", Verdana, sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
}
.single-badge .breadcrumb {
  position: absolute;
  top: 0px;
  left: 5px;
}
.single-badge .breadcrumb li {
  display: inline-block;
  font-size: 11px;
  color: #f7f1e5;
}
.single-badge .breadcrumb li a {
  color: #f7f1e5;
}
.single-badge .badge-objectives ul {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
.single-badge .badge-objectives ul li {
  list-style: disc;
  width: 100px;
  list-style-position: inside;
}
.single-activity #activity-nav {
  width: 100%;
  display: block;
  text-align: left;
  padding: 20px 0;
  color: #f7f1e5;
}
.single-activity #activity-nav h2 {
  padding: 3px 0;
  margin: 20px;
  font-weight: 100;
  color: #f7f1e5;
  border-bottom: 1px solid white;
}
.single-activity #activity-nav .estimated_time {
  margin: -10px 20px 0;
  float: right;
  font-size: 11px;
  font-family: "proxima-nova", Verdana, sans-serif;
}
.single-activity .water #activity-nav {
  background: #26a3c2;
}
.single-activity .fish #activity-nav {
  background: #ce691f;
}
.single-activity .plant #activity-nav {
  background: #acb200;
}
.single-activity .design-build #activity-nav {
  background: #8d3b92;
}
