/*-------------------------------------------------------------------------------------	
		
	style-main.css
	
	Table of Contents
	- Patterns/Colors
	- Classes (.serif, .sidebar, .sub-nav-shadow)
	- Standard Elements (body, h1, p)	
	- Common Sections (header, footer)
	- Individual Page Styles
	
-------------------------------------------------------------------------------------*/


/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}



/* Patterns */
@lined-pattern: url('imgs/lined_pattern.png');
@dotted-pattern: url('imgs/dot_dark.png');
@dotted-pattern-light: url('imgs/dotted_pattern_light.png');

/* Colors */
@dkbrown: #423c2e;
@medbrown: #716854;


@beige: #f9f6ef;
@offwhite: #f7f1e5;
@medbeige: #d6cebe;
@dkbeige: #a59e8f;
@tan: #ebe5d9;


@red: #c93e1b;
@orange: #ce691f;
@yellow: #dbad22;

@lt-blue:#26a3c2;
@blue:#086098;
@blue-purple:#3f268e;

@green:#4c7f0f;
@lt-green: #acb200;
@teal: #078c78;

@babyblue: #82bcf1;
@yellow: #dbad35;
@purple:#8d3b92;
@fushia: #e13955;


/*-------------------------------------------------------------------------------------	
	Classes
-------------------------------------------------------------------------------------*/


.sans-serif{ font-family: "proxima-nova",Verdana, sans-serif;}
.serif {font-family: "jubilat", Georgia, Serif;}
.left {float: left;}
.right {float: right;}
/*

.pad {
	padding: 20px;
}
.offset_padding {
	margin: -20px -20px 0;
}
*/
.vertical_align {
	display: table-cell;
	vertical-align: middle;
}
.transition(@time:.2s) {
	-webkit-transition: all @time ease;
	-moz-transition: all @time ease;
	-o-transition: all @time ease;
	transition: all @time ease;
}

.hide{
	display: none;
}

.sub-nav-shadow{
	-moz-box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.1);	
	box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.1);
}

.open-badges-callout-shadow{
	-moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.3);
}

.header-lock{
	display:block;
	width: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
}

.button {
	margin: 3px;
	padding: 4px 8px;
	background: #8daa92;
	display: inline-block;
}

.text-content {
	padding: 20px;
}
.main-col {
	display: inline-table;
	width: 75%;
	min-height: 300px;
}

.clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}

.avatar {
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 15px 0 0;
	img { width: 100%; height: 100%; }
}

.alert {
	display: block;
	background: (@green * 14);
	border-radius: 5px;
	border: 1px solid @green;
	margin: 0 0 5px;
	padding: 7px 15px;
	font-size: 14px;	
}.outline{
	
		display:block;
		clear: both;
		margin: -4px 0 20px;
		padding: 40px 12%;
		background: @offwhite;
		text-align: center;
		.sub-nav-shadow;
		p{ .sans-serif; font-size: 1.4em; text-align: center; }	
}

.side-scroller {
	margin-right: 20px;
	padding: 20px 10px 10px 0;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.ask-form(@color){
	
	section{ background: @color; margin: 0; padding: 20px 40px; 
			
			input{ 
				
				border-radius: 0;
				
			}
			input[type="text"]{
				
				background: transparent;
				border: none;
				border-bottom: 1px solid @dkbrown;
				width: 60%;
				.serif;
				color: @dkbrown;
				outline: none;
				display: inline;
				
			}
			
			
			input[type="text"]::-webkit-input-placeholder { color:@dkbrown; .serif; }
			input[type="text"]::-moz-placeholder { color:@dkbrown; .serif;  } /* firefox 19+ */
			input[type="text"]:-ms-input-placeholder { color:@dkbrown; .serif;  } /* ie */
			input[type="text"]:-moz-placeholder { color:@dkbrown; .serif;  }
			
			select{
				
				border-radius: 0;
				border: 1px solid @dkbeige;
				height: 30px;
				width: 180px;
				padding: 0 0px 0 10px;
				background: url('imgs/dropdown.png') right no-repeat @beige;
				-webkit-appearance: none;
				-moz-appearance: none;
				outline: none;
				
				
			}
			
			textarea{
				
				display: block;
				width: 75%;
				height: 100px;
				margin: 20px 0;
				padding: 1% 1.5%;
				border: none;
				background: transparent;
				outline: none;
				color:@dkbeige;
				.serif;
				resize: none;
				font-size: .9em;
				
			}
			
		
			textarea::-webkit-input-placeholder { color: @dkbeige; .serif;  }
			textarea::-moz-placeholder { color: @dkbeige; .serif;  } /* firefox 19+ */
			textarea:-ms-input-placeholder { color:@dkbeige; .serif;  } /* ie */
			textarea:-moz-placeholder { color:@dkbeige; .serif;  }
			
			input[type="submit"]{
				background: @dkbrown;
				color: @beige;
				text-transform: uppercase;
				width: 150px;	
				padding: 10px 0;
			}
			
			
		}
	
}

/*-------------------------------------------------------------------------------------	
	Standard Elements
-------------------------------------------------------------------------------------*/


body{
	border: 0;
	margin: 0;
	padding: 0;
	color: @dkbrown;
	background-color: @beige;
	.serif;
	line-height: 1.3em;
}

#container {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	.sans-serif;	
}

p {
	margin-bottom: 1em;
}

h2{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.4em;
	padding: 20px 0 10px 0;
	color: @dkbrown;
	text-align: left;
	a, a:visited { 
		margin-left: 6px;
		color: @teal;
		font-size: 14px;
		text-transform: none;
	}
}

a, a:visited{
	
	color: @teal;
	text-decoration: none;
	.sans-serif;
	cursor: pointer;
}

a:hover{
	color: @orange;
	//font-weight: bold;
};

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}


hr {
	border: none;
	border-bottom: 1px solid @dkbrown;
}

label {
	display: block;
	clear:none;
	margin: 5px 0 0 0;
	font-size: 13px;
}

input, textarea{
	display: block;
	width: 240px;
	color: @dkbrown;
	border: 1px solid @medbeige;
	margin: 0 0 5px;
	padding: 7px 15px;
	font-size: 14px;	
}

input[type='submit'], input[type='button'] {
	width: auto;
	display: inline-block;
	margin: 0 15px 0 0;
	padding: 7px 35px;
	border-radius: 0; 
	background: @dkbrown; 
	color: @offwhite !important; text-transform: uppercase; 
}

input[type="submit"]:hover, input[type="button"]:hover{
	background: @medbeige;
	cursor: pointer;
}

sub {
	font-size: .7em;
	vertical-align:sub;
}

/*-------------------------------------------------------------------------------------	
	Common Sections
-------------------------------------------------------------------------------------*/

/* HEADER */
header{
	width: 100%;
	background-color: @beige;
	position: relative;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
		line-height: 1em;
	}
	
	h2 {
		font-size: 40px;
		text-transform: none;
	}
	
	h3 {
		position: relative;
		top: -10px;
	}
	
	a, a:visited {
		color: @dkbeige;
	}
	a:hover {
		color: @medbrown;
	}
	
	#main-nav{
		//.header-lock;
		position: relative;
		height:27px;
		background-color: @dkbrown;
		color:@beige;
		top: 0;
		padding: 20px 0 0;

		h1#branding{ 
			display: inline;
			margin: 0 0 0 20px;
			font-weight: bold; 
			vertical-align: center;
			letter-spacing: .25em;
		
			a{ color:@beige; text-transform: uppercase; font-size: 1.25em;}
		}

		a {			
			font-size: 13px;
			text-transform: uppercase;
		}
		a:hover {
			color: @offwhite; 
		}
		
		.selected a{color: @offwhite;}
		.sub-nav a, .selected .sub-nav a{color: @dkbrown;}
		.sub-nav a:hover, .selected .sub-nav a:hover{color: @beige;}

		.header-ul;

		ul#navigation{
			position: absolute;
			bottom: 0;
			margin: 0 0 0 24px;
			vertical-align: center;	
	
			.resources:hover, .resources.selected {border-bottom: 4px solid @babyblue;}
			.badges:hover, .badges.selected {border-bottom: 4px solid @yellow;}
			.community:hover, .community.selected {border-bottom: 4px solid @lt-green;}
			.about:hover, .about.selected {border-bottom: 4px solid @fushia;}
		}
				
		li{
			margin: 0 15px 0 0;
			padding: 0 0 1px;
			border-bottom: 4px solid rgba(0,0,0,0);
		}
		
		ul#profile{
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 0 0 1px;
			border-bottom: 4px solid @purple;
			//margin: 15px 30px 0 0;
			vertical-align: center;
			li { border-bottom: none; }
		}


		ul#navigation .sub-nav{
			position: absolute;
			overflow: hidden;
			z-index: 100;
			margin: 4px -9999px;
			padding: 0 9999px;
			left: 0;
			right: 0;
			.transition();
			width: 500px;
			height:0px;
			overflow: hidden;
			.sub-nav-shadow;
			li {
				margin: 1px 4px 0 0;
			}
			li:before {
			    content: "• ";
			    color: @beige;
			}
			li:first-child:before {
				content: "";
			}
	
		}
		ul#navigation li:hover .sub-nav {
			height: 25px;		
		}

		
		.badges .sub-nav {background: @yellow;}
		.community .sub-nav {background: @lt-green;}
		.community .sub-nav ul {margin-left: 69px;}
		.resources .sub-nav {background: @babyblue;}
		.resources .sub-nav ul {margin-left: 164px;}
		.about .sub-nav {background: @fushia;}
		.profile .sub-nav {background: @purple;}


	}
	

	#crumb-nav{
		font-size: .8em;
		padding: 20px;
		li {
			display: inline-block;
			margin: 6px 0 0 0;
		}
	}

	#secondary-nav{
		/* height:117px; */
		padding: 0 1.5% 10px;
		margin: 50px 0 0;
		position:relative;
		direction: block;
		z-index: 10;
		//background-color: @offwhite;
		.sub-nav-shadow;
		
		
		section { 
				position: relative;
				background-color: @beige !important;
				display: inline-block; 
				margin: 40px 0 0 2%;
				vertical-align: bottom;
				p, h2{
					display: inline-block; 
					margin: 0;
					padding: 0;
					background-color: @beige;
				}

				h2 a{

					color: @dkbrown;
				}

				hr{ .hr	}

				ul li a, p a {

					.serif;
					background-color: @beige;

				}
				
				a{ background: @beige;}
		}

		section:first-child{ margin: 40px 0 0 ;}

		#page-search{
			width: 27%; /*280/960*/
			form{  display: inline; margin: 0 0 0 1%;}
			padding: 0 0 18px 0;

			input[type="text"]{ 
				border: 0; 				
				background: @beige; 
				outline: none;		
				width: 90%;
				.serif;
				font-size: 14px;
				font-style: italic;
				color: @dkbeige;
				display: inline;
				border-radius: 0;
				padding: 0;
				
			}
			input[type="submit"]{
				position: absolute;
				top: 3px; 
				right: 5px;
				width: 12px; 
				height: 12px; 
				text-indent: -999px; 
				overflow: hidden;
				padding: 0;
				margin: 0;
				border: 0;
				background-color:transparent;
				background-image: url('imgs/search_icon.png'); 
				background-repeat: no-repeat; 
			}

			p{ }
		}

		#main-links{
			
			background-color: @offwhite;
			.header-ul;
			width: 69%;
			display: inline-table;
			li {
				color: @dkbeige;
				margin: 0;
			}
			li:before {
			    content: "• ";
			}
			li:first-child:before {
				content: "";
			}
		}
		#main-links.short {
			width: 35%;
		}
		
		
		#content-filter, #content-sort{

			width: 15%;
			background: @offwhite;
		}
	}
} // header


footer.main{
	width: 100%;
	display: block;
	//min-height: 275px;
	background: @dkbrown; /* Old browsers */
	background: -moz-linear-gradient(top, #423c2e 0%, #221f17 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#423c2e), color-stop(92%,#221f17)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #423c2e 0%,#221f17 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #423c2e 0%,#221f17 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #423c2e 0%,#221f17 92%); /* IE10+ */
	background: linear-gradient(to bottom, #423c2e 0%,#221f17 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#423c2e', endColorstr='#221f17',GradientType=0 ); /* IE6-9 */

	header#pagination{

		width: 100%;
		display: block;
		padding: 10px 0 0;
		height: 60px;
		.header-ul;

		p{display: inline-block; .sans-serif; vertical-align: middle;}
		p.left{ }
		p.right{ }
		text-align: center;
		ul{ display: inline-block; width: 87%; vertical-align: middle; 

			li{ .sans-serif; 
				font-size: 1.35em;
			}
		}


	}
	footer{
		position: relative;
		min-height: 275px;
		width: 100%;
		display:block;
		padding: 20px 0 0;

		.header-ul;

		ul {

			width: 100%;
			li{
				width: 21.75%;
				margin: 0;
				padding: 20px 2% 0;
				//height: 100%;
				vertical-align: top;
				//background-color: @beige;
				//border: 1px solid red;
			}
			
			#daily-tip {
				position: relative;
				height: 200px;
				.tip {
					display: none;
				}
				.tip:first-of-type {
					display: block;
				}
				p {
					font-size: 18px;
				}
				.next_tip {
					position: absolute;
					bottom: -10px;
					color: @orange;
					cursor: pointer;
					.sans-serif;
				}
			}


			#site-desc{
				margin: -30px 0 0;
				padding: 0 ;
				width: 240px;
				position: relative;
				z-index: 200;
				background-color:@dkbeige;

				h4{

					text-indent: -999px;
					overflow: hidden;
					background: url('imgs/swf_logo.png');
					background-repeat: no-repeat;
					background-position: center;
					width: 183px;
					height: 68px;
					margin: 20px 25px;

				}
				
				hr {margin: 10px; }

				p{ color: @dkbrown; padding: 5px 15px; font-size: .8em;}
			}
		}
		
		
		h4{
			.sans-serif;
			margin:0;
			padding: 0;
			color: @beige;
			font-weight: 200;
		}

		p{
			margin: 0 0 1em;
			.sans-serif;
			color:@dkbeige;
			font-size: 14px;
			font-weight: 200;
			line-height: 1.2em;

		}
		
		a, a:visited {
			color: @beige;
		}
		a:hover {
			color: @dkbeige;
		}

		hr{ 
			border-bottom: 1px solid @medbrown;
			
		}

		hr.fish{border-bottom: 1px solid @orange;}
		hr.water{border-bottom: 1px solid @orange;}
		hr.plant{border-bottom: 1px solid @orange;}
		hr.design-build{border-bottom: 1px solid @orange;}
		

		#copyright{ 
			position: absolute;
			bottom: 0px;
			right: 15px;
			color:@dkbeige; 
			font-size: .7em;
		}

	}
} // footer.main



.sidebar {
	display: inline-table;
	min-height: 600px;
	width: 20%;	
	padding: 0 2%;
	clear: left;
	article { padding: 10px 0; border-bottom: 1px solid @dkbrown; }
	h1,h2,h3,h4,h5,h6 { margin-bottom: 0; padding-bottom: 3px; }
	h4{ .sans-serif; font-weight: 600; text-transform: uppercase; color: @dkbrown; border-bottom: 1px solid @dkbrown;}
	hr{ border: 0; height: 1px; color: @medbrown; display: block; padding: 0; margin: 0; }
	p{width: 100%; .serif; color: @dkbrown; margin: 2px 0; font-size: .9em; }
	li { width: 100%; padding: 8px 0; border-bottom: 1px solid @dkbrown;}
	a{ color: @teal; .serif; text-decoration: underline; }
} // .sidebar



.tmce-active .mceEditor {
	iframe {
		background: @beige;
		min-height: 600px;
		
	}
	p {
		color: @dkbrown;
		font-size: 16px;
		line-height: 1.2em;		
	}
	table td {vertical-align: top;}
	.mceStatusbar {
		display: none;
	}
}
.tmce-active .wp-editor-container {border: none;border-width: 0;}


/* USE INSTEAD OF .tmce-active .mceEditor */
.mceIframeContainer {
	background: @beige;
	iframe {
		min-height: 300px;
	}
}
.single .mceEditor .mceStatusbar {
	display: none;
}


header#pagination{

	width: 100%;
	display: block;
	padding: 10px 0 0;
	height: 60px;
	.header-ul;

	p{display: inline-block; .sans-serif; vertical-align: middle;}
	text-align: center;
	ul{ display: inline-block; width: 87%; vertical-align: middle; 

		li{ .sans-serif; 
			font-size: 1.35em;
			margin: 0 20px;
		}
	}


}


/* BADGES */

.badge.water,.badge.fish,.badge.plant,.badge.design-build{
	margin: 0;
	padding: 20px 1.5% 0;
}




.skill.badge, .skill-activity{
	position: relative;
	width: 105px;
	height: 140px;
	margin: 0 10px 20px 10px;
	display: inline-table;
	padding: 10px;
	text-align: left;
	white-space: normal;	 
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	a{ color: @beige;}
	color: @beige;
	.sans-serif;
	hr{	
		border: 0;
		height: 1px; color: @beige; background: @beige;
	}
	h4, hr {
		opacity: .75;
	}
	:hover h4, :hover hr {
		opacity: 1;
	}
	.badge_level {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 14px;
		line-height: .6em;
		font-weight: bold;
	}
	.status_container {
		position: absolute;
		bottom: 10px;
		left: 10px;
		width: 100px;
	}
	.completion_container {
		float: left;
		width: 25px;
		height: 10px;
		margin: 0 5px 0 0;
		border: 1px solid @beige;
		overflow: hidden;	
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	.badge_completion {
		text-indent: 100%;
		background: @beige;	
		opacity: .5;
	}
	.badge_completion_label {
		font-size: 9px;
		line-height: 12px;
		color: @beige;
		text-transform: uppercase;
	}
}

.skill-activity.disabled {
	opacity: .5;
}

.skill.badge:hover h4, .skill.badge:hover hr, .skill-activity:hover h4, .skill-activity:hover hr {
	opacity: 1;
}
/*
.water{
	.skill.badge{ .skill-badge-background(@blue); }
	.skill.badge:nth-child(3n-1){ .skill-badge-background(@blue-purple); }
	.skill.badge:nth-child(4n-1){ .skill-badge-background(@lt-blue); }	
	.badge_level { color: @blue; }
}
*/
.water .skill.badge{ .skill-badge-background(@blue); }
.water:nth-of-type(3n-1) .skill.badge{ .skill-badge-background(@blue-purple); }
.water:nth-of-type(3n-2) .skill.badge{ .skill-badge-background(@lt-blue); }	
.water .badge_level { color: @blue; }
/*
.fish{
	.skill.badge{ .skill-badge-background(@red); }
	.skill.badge:nth-child(3n-1){ .skill-badge-background(@yellow); }
	.skill.badge:nth-child(4n-1){ .skill-badge-background(@orange); }	
	.badge_level { color: @red; }
}
*/
.fish .skill.badge{ .skill-badge-background(@red); }
.fish:nth-of-type(3n-1) .skill.badge{ .skill-badge-background(@yellow); }
.fish:nth-of-type(3n-2) .skill.badge{ .skill-badge-background(@orange); }	
.fish .badge_level { color: @red; }
/*
.plant{
	.skill.badge{ .skill-badge-background(@green); }
	.skill.badge:nth-child(3n-1){ .skill-badge-background(@teal); }
	.skill.badge:nth-child(4n-1){ .skill-badge-background(@lt-green); }	
	.badge_level { color: @green; }
}
*/
.plant .skill.badge{ .skill-badge-background(@green); }
.plant:nth-of-type(3n-1) .skill.badge{ .skill-badge-background(@teal); }
.plant:nth-of-type(3n-1) .skill.badge{ .skill-badge-background(@lt-green); }	
.plant .badge_level { color: @green; }
/*
.design-build{
	.skill.badge{ .skill-badge-background(@purple); }
	.skill.badge:nth-child(3n-1){ .skill-badge-background(@fushia); }
	.skill.badge:nth-child(4n-1){ .skill-badge-background(@medbrown); }	
	.badge_level { color: @purple; }
}
*/
.design-build .skill.badge{ .skill-badge-background(@purple); }
.design-build:nth-of-type(3n-1) .skill.badge{ .skill-badge-background(@fushia); }
.design-build:nth-of-type(3n-2) .skill.badge{ .skill-badge-background(@medbrown); }	
.design-build .badge_level { color: @purple; }


.badge.incomplete {
	opacity: .5;
}

.badge.aquapons {
	display: inline-block;
	margin: 10px 0;
	width: 24%;
	height: 107px;
	background: url(imgs/practioner_secondary.png) no-repeat center center;
}

.badge.aquapons.current, .badge.aquapons.complete {
	background: url(imgs/practioner_focus.png) no-repeat center center;
	background-size: contain;
}

.badge.aquapons a, .badge.content a {
	display: table;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	color: @dkbrown;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: .75em;
}

.badge.content {
	display: inline-block;
	height: 83px;
	width: 118px;
	text-indent: 9999px;
}

.badge.content.water {
	background: url('imgs/water_badge.png') no-repeat center;
}







/* Styles */


.skill-badge-background(@color:@green){
	background: @color;
	background: -webkit-linear-gradient(140deg, transparent 15px, @color 15px);
	background: -o-linear-gradient(320deg, transparent 15px, @color 15px);
	background: -moz-linear-gradient(320deg, transparent 15px, @color 15px);
	background: linear-gradient(320deg, transparent 15px, @color 15px);
}



.badges-display{

	width: 100%;
	display: block;

		
	.badge-stack{
		display: inline-block;
		width: 24%;
		vertical-align: top;
		margin: 20px 0 0;
		text-align: center;
		
	}
	
	
	
	.content{
		text-align: center;
	}

}



.question{

	width: 97%;
	max-width: 900px;
	min-height: 64px;
	display: block;
	margin: 10px 0 0 0;
	padding: 5px 0;

	.qleft {

		width: 120px;
		display: inline-block;
		height: inherit;
		/*max-height: 90px;*/
		overflow: hidden;
		vertical-align: middle;
		margin: 0 0 15px 0;
		padding: 2px 0 0px;

		p{ 	color: @dkbrown; font-size: 1.75em; 
			.sans-serif;
			text-align: center; margin: 0; display: inline-block; 
			vertical-align: top;

			em{ font-size: .4em; display: block;  }
		}

		p:last-child{ margin: -38px 0 0 70px;	}
		hr{ .hr;
			display: inline-block; 
			width: 80px; 
			transform: rotate(300deg);
			-ms-transform: rotate(300deg); /* IE 9 */
			-webkit-transform: rotate(300deg); /* Safari and Chrome */
			-o-transform: rotate(300deg); /* Opera */
			-moz-transform: rotate(300deg); /* Firefox */
			margin: 0 0 0 -15px;
		}
	}
	.qright{

		display: inline-block;
		width: 80%;
		background-color: @beige;
		div{ width: 12px; min-height: 64px; margin: 0; padding: 0; float:left; margin: 0 10px 0 0;}

		div.water{ background-color: @blue;}
		div.plant{ background-color: @green;}
		div.design-build{ background-color: @purple;}
		div.fish{ background-color:@orange;}

		h3{ margin: 10px 0 0; padding: 0; font-size: 1.2em; .serif;}
		p{ margin: 0; padding: 2px 0 0; font-size: .8em; .sans-serif; }
		
		div.water{ background-color: @blue;}
		div.plant{ background-color: @green;}
		div.design-build{ background-color: @purple;}
		div.fish{ background-color:@orange;}
		div.economic{background-color:@yellow;}
		div.environmental{background-color: @lt-green;}
		div.community{background-color: @blue-purple;}
		div.aquapons{background-color: @lt-blue;}
		
		h3 a { .serif; color: @dkbrown; }
		
	}

}

.question.more{
	
	width: 100%;
	max-width: 100%;
	background: @lined-pattern;
	padding: 0px !important;
	margin-bottom: 20px;
	.qright{ background: none; margin-top: 20px; }
	.qleft{margin-left: 20px; margin-top: 20px;}
	div{background: none !important;}
	
	.responses{background: @beige; width: 100%; min-height: 100px;
				
				
				p.nothing{ margin: 40px; font-weight: bold;}
				
				p.close{padding: 5px 10px; float: right; margin: 0; margin-right: 30px; color:@offwhite; text-transform: uppercase; .sans-serif; font-size: .8em;}
				p.close.bottom{margin-top: -30px;}
				p.water{ background-color: @blue;}
				p.plant{ background-color: @green;}
				p.design-build{ background-color: @purple;}
				p.fish{ background-color:@orange;}
				p.economic{background-color:@yellow;}
				p.environmental{background-color: @lt-green;}
				p.community{background-color: @blue-purple;}
				p.aquapons{background-color: @lt-blue;}
				
				section{ vertical-align: top;}
				
				section.answer.child{
				
					article.desc{ min-height: 50px; width: 80%;}
					figure{margin: 10px 0 5px 30%;}
				
				}
				form{ margin: 20px 4%;}
				textarea{ color: @dkbrown; display: block; border: none; background: transparent; outline: none; .serif; resize: none;  font-size: 1em; width: 100%; height: 150px;}
				textarea::-webkit-input-placeholder { color: @dkbrown; .serif;  }
				textarea::-moz-placeholder { color: @dkbrown; .serif;  } /* firefox 19+ */
				textarea:-ms-input-placeholder { color:@dkbrown; .serif;  } /* ie */
				textarea:-moz-placeholder { color:@dkbrown; .serif;  }
				input[type="submit"]{ border-radius: 0; background: @dkbrown !important; color: @offwhite; text-transform: uppercase;} 
				
				
	}
	.responses.water{border-top: 3px solid @blue; border-bottom: 3px solid @blue;}
	.responses.plant{border-top: 3px solid @green; border-bottom: 3px solid @green;}
	.responses.design-build{border-top: 4px solid @purple; border-bottom: 4px solid @purple;}
	.responses.fish{ border-top: 4px solid @orange; border-bottom: 4px solid @orange;}
	.responses.economic{border-top: 4px solid @yellow; border-bottom: 4px solid @yellow;}
	.responses.environmental{border-top: 4px solid @lt-green; border-bottom: 4px solid @lt-green;}
	.responses.community{border-top: 4px solid @blue-purple; border-bottom: 4px solid @blue-purple;}
	.responses.aquapons{border-top: 4px solid @lt-blue; border-botom: 4px solid @lt-blue;}
	
}



.header-ul{
		ul {

			padding: 0;
			margin: 0;
			display: inline;

			li{
				display: inline-block;
			}

		}
}

/*
.hr{
	border: 0;
	height: 1px;
	color: @medbrown;
	background-color: @medbrown;
}
*/
section.answer{
	
	margin: 40px 4%;
	display: block;
	min-height: 150px;
				
	article.desc{
		
		background: white;
		display: block;
		min-height: 100px;
		position: relative;
		padding: 20px;
		width: 90%;
		float: right;
	}
	
	article.desc:after{
		
		content: "";
		position: absolute;
		bottom: -40px;
		left: 40px;
		border-width: 40px 0 0 40px;
		border-style: solid;
		border-color: white transparent;
		display: block;
	}
	
	figure{
		
		width: 50px;
		height: 50px;
		overflow: hidden;
		margin: 10px 0 5px 20%;
		display: inline-table;
		img{ width: 100%; height: 100%;}
	}
	
	section.user_data{
		margin: 10px 0 0 10px;
		display: inline-table;
		p{ display: inline-block; margin: 0; padding: 0; 
		strong{ font-weight: bold; } 
		}
		
	}
	.header-ul;
	ul{
		
		float: right;
		
		margin: 10px 0 0;
		
		li{
			margin: 0 10px;
		}
		
	}
	
	ul.rank{
		
		display: inline;
		float: none;
		width: 8%;
		margin: 0 2% 0 0;
		position: relative;
		text-align: center;
		li{ width: 100%; display: inline; clear: both; position: absolute; text-align: center; width: 37px; height: 20px;}
		li.up{ text-indent: -999px; background: url('imgs/up.png') no-repeat; }
		li.current{top: 25px;}
		li.down{ text-indent: -999px; background: url('imgs/down.png') no-repeat; top: 50px; }
		
	}
	
}





//CUSTOM HEADERS

header.badges{
	#main-links{ width: 68% !important; }
	#content-filter, #content-sort{ width: 0 !important; display: none !important; overflow: none !important; }
}

//GENERAL STYLES

#main{
	position: relative;
	width: 100%;
	min-height: 500px !important;
	//padding-bottom: 40px;
	.clearfix();
}
#main.text-content {
	width: 98%;
}




.badges {

	#main {background: @dotted-pattern;}

/*
	h2{

		margin: 0;
		padding: 20px 0 0 20px;
		.sans-serif;
		text-transform: uppercase;
	}
*/


	.aquapons-badges{

		width: 96%;
		display: block;
		height: 134px;
		margin: 0;
		padding: 10px 0;
		background: url('imgs/practioner_badge.png') no-repeat center;

	}

	.skills-badges{

		width: 96%;
		display: block;


	}
	
	.badges-display{

		width: 100%;
		display: block;

		.water,.fish,.plant,.design-build{

			display: inline-block;
			width: 20%;
			margin: 0;
			padding: 20px 1.5% 0;
		}
	}

	
	#badge-nav{
			width: 100%;
			display: block;
			text-align: center;
			background: @dkbeige;
			padding: 20px 0;
			
			h2{text-align: center; float: none; font-size: 1.6em; font-weight: bold; color: @offwhite; text-transform: capitalize;}
			
			hr{	border: 0;
				height: 1px; 
				width: 70%;
				color: @offwhite; 
				background: @offwhite;}
			ul#skill-badge-subnav{
				
			
				display: inline;
				list-style: disc;
				
				li{ 
					display: inline;
					padding: 10px;
					color: @offwhite;
					a{ color: @offwhite; }
				}	
				
			}
			
	} //#badge-nav
	
	
	
	
	.badge-outline{
		
			display:block;
			clear: both;
			padding: 40px 12%;
			background: @beige;
			color: @dkbrown;
			text-align: center;
			line-height: 1.5em;
			div{ text-align: center !important; margin: 10px 0 0 5px;}
			.sub-nav-shadow;
			p{ .sans-serif; font-size: 1.4em; text-align: center; }
			h3{ text-align: center; font-weight: bold; font-size: 1.1em; text-transform: uppercase;}
		
	}
	#skill-badge-activities{
			padding: 20px 12%;
			text-align: center;
		
			h3{ .sans-serif; font-color: @dkbrown; text-transform: uppercase; font-weight: bold;}
			article.skill-activity{
				
				display: inline-block;
				width: 110px;
				height: 110px;
				margin: 20px 10px 10px;
				padding: 24px;
				text-align: left;
				vertical-align: top;
				hr{  color: @offwhite; background: @offwhite; }

				
			}		 
	}
	
	
	
	.water #badge-nav, .water .skill-activity { background: @lt-blue; }
	.fish #badge-nav, .fish .skill-activity { background: @orange; }
	.plant #badge-nav, .plant .skill-activity { background: @lt-green; }
	.design-build #badge-nav, .design-build .skill-activity { background: @purple; }
	
	
}// .badges


.resources {
	#main {background: @lined-pattern;}
	header #secondary-nav #main-links {
		width: 35%;
	}
}


.tutorial {
	position: relative;
	height: 310px;
	width: 100%;
	margin: 0 0 40px 0;
	clear; both;
	img {
		margin: 0 20px 0 0;
		float: left;
		width: 400px;
		height: 300px;
		border-bottom: 10px solid @orange;
		background: #ccc;
	}
	.info {
		margin-left: 420px;
	}
	.meta-info {
		margin-bottom: 8px;
		font-size: 13px;
	}
	h3 {
		.serif;
		font-size: 28px;
		margin-bottom: 10px;
	}
	p {
		font-size: 18px;
		font-weight: normal;
		color: @medbrown;
	}
	footer {
		position: absolute;
		left: 420px;
		bottom: 0;
		right: 0;
		padding: 5px 0;
		border-top: 1px solid @dkbrown;
		border-bottom: 2px solid @dkbrown;
		.sans-serif;
	}
	.level {
		font-weight: bold;
		margin-right: 20px;
	}
}


/*-------------------------------------------------------------------------------------	
	PAGES
-------------------------------------------------------------------------------------*/



//HOME PAGE

.page-home{

	#main {background: @dotted-pattern;}
	
		#mantle{
		//text-align: center;
		.header-ul;
		width: 100% !important;
		height:auto;
		display: table;
		position: relative;
		//margin: 0;
				
		.showcase{
			width: 100%;
			//overflow: hidden;
			height: auto;
			figcaption{
				width: 400px;
				top: 200px;
				left: 60%;
				position: relative;
				display:run-in;
				color: @beige;
				text-align: right;
				z-index: 99;
				
				h4{display: block; margin: .7em 0; .serif; font-size: 3em; text-transform: capitalize;text-shadow: rgba(0,0,0,0.8) 2px 2px 2px; 
					
					a{ color: @beige;}
				}
				p{display: block; margin: .7em 0; text-shadow: rgba(0,0,0,0.8) 2px 2px 2px;}
				p.institution{ .sans-serif; text-transform: uppercase; font-weight: bold; font-size: 1.6em; }
				p.location{.sans-serif; text-transform: capitalize; font-weight: bold;	}
								
				
			}
						
			img{ position: absolute;
				 top: 0;
				 left: 0;
				 width: 100% !important;
				 height: auto; 
				 display: block;}
				
		}
	
	}//#mantle 
	
	.steps {
		position: relative;
		z-index: 900;
		top: -4px;
		a {
			color: @medbrown;
			display: block;
			margin: 0;
			padding: 0 1%;
			width: 100%;
			height: 100%;
		}
		ul{ width: 100%;
			margin: 0 auto;
			padding: 0 auto;
			position: absolute;
			bottom: 0px;
			text-align: center;
			//bottom: -73px;
			//height: -80px;
			li{
				vertical-align: bottom;
				display: inline-block;
				height: 86px;
				margin: 0 1%;
				width: 15%;
				.sans-serif;
				font-weight: 600;
				text-align: center;
				font-size: .7em;
				background: @medbeige;
				overflow: hidden;
				color: @dkbrown;
				transition: all .3s;
				-webkit-transition:all .3s;
				-moz-transition: all .3s;
				-o-transition: all .3s;
				
				figure{
					padding:10px 0;
					height: 35px;
					width: auto;
					img{vertical-align: center; 
						max-width: 90%; 
						transition:all .3s; 
						-webkit-transition: all .3s; 
						-moz-transition: all .3s; 
						-o-transition: all .3s;
						}

				}
				h3{
					vertical-align: bottom;
					text-transform: uppercase;
				}
				hr {
					width: 80%;
					margin: 8px auto;
					border: none;
					border-top : 1px solid @medbeige;
				}
				p {
					padding: 0 5%;
					.serif;
					font-weight: normal;
					font-size: 16px;
				}
			}
			li:hover{
				height: 195px;
				background: @beige;
				img{opacity: 0.5;}
				
			}
			
		}//ul
		
		#stripes{
			width: 100%;
			height: 10px;
			background: url('imgs/pagestripes.png') repeat-x;
			position: relative;
			top: 0px;
		}
	}
		
	#callout{
		width: 96%;
		position: relative;
		max-height: 250px;
		overflow: hidden;
		.sans-serif;
		padding: 0 2%;
		//text-align: center;
		figure{
			display: inline-table;
			margin: 10px;
			padding: 0 2%;
			img{width: 160px; height:160px; overflow: hidden;}
			figcaption{
				
				text-align: center;
				h3{
					
					font-weight: bold;
					color: @teal;
				}
				
			}//caption
			
		}//figure
		figure.first{
			//color: red;
			padding: 0;
			margin-left: 0;
			
		}
	
	}//#callout
	
	#new-institutions{
		height: 240px;
		.institution{
			
			width: 216px;
			//height: 128px;
			display: inline-block;
			background:@beige;
			border: 1px solid @dkbeige;
			margin: 0 2% 0 0;
			text-align: center;
			vertical-align: top;
			
			figure{
				height: 78px;
				padding-bottom: 18px;
				
			}
			
			img{
				
				padding: 20px 0 5px;
				width: auto;
				margin: 0;
				float: none;
			}
						
			h4{
				
				.sans-serif;
				font-weight: 100;
				font-size: .9em;
				white-space:pre-line;
				width: 80%;
				margin: 0 auto;
				color: @dkbrown;
				
			}
			
			p{
				.serif;
				font-size: .75em;
				font-style: italic;
				vertical-align: baseline;
				background: @tan;
				padding: 10px 0;
				position: relative;
				color: @dkbrown;
				//margin: 20px 0 0;
				
			}
			
		}	
		.institution.first{
			
			//background: @dkbrown;
			margin: 0 2% 0 0;
		}

	}//.new
	
}//section#main.home




// FORUM PAGE

section#main.forum{
	background: @lined-pattern;
	padding-bottom: 0 !important;
	min-height: 0 !important;
	
	#overview{
		.ask-form(@tan);
		header{ width: 100%; height: 4px; display: block; background-color:@dkbrown;}
		footer{ width: 140px; height: 28px; background-color: @medbrown; float: right; margin: 0 20px 0 0;
				p { .sans-serif; margin: 4px 0 0 0; padding: 0; text-align: center; color: @beige; font-size: .9em;}
				}
	}

	#page-content{

		width: 100%;
		display: block;
		margin: 0 0 0 20px;
		.question;
	}

}//section#main.forum




.page-badges-overview {

	h2 {
		padding: 20px 0 0 20px;
	}
	#main section {
		padding: 0 2%;
	}
	.content-badges {
		height: 118px;
	}
	.water .content-badges{
		background: url('imgs/water_badge.png') no-repeat center;
	}
	.fish .content-badges{
		background: url('imgs/fish_badge.png') no-repeat center;
	}
	.plant .content-badges{
		background: url('imgs/plants_badge.png') no-repeat center;
	}
	.design-build .content-badges{
		background: url('imgs/design_badge.png') no-repeat center;
	}

	.skills-badges article {
		height: 64px;
		width: 23%;
		margin: 0;
		//padding: 0 10px;
		display: inline-block;
	}
	
	.water .skills-badges { 
		.one{ background: url('imgs/skill_small_dkblue.png') no-repeat center; }
		.two{ background: url('imgs/skill_small_ltblue.png') no-repeat center; }
		.three{	background: url('imgs/skill_small_dkpurple.png') no-repeat center; }
		.four{ background: url('imgs/skill_small_dkblue.png') no-repeat center; }
	}
	
	.fish .skills-badges { 
		.one{ background: url('imgs/skill_small_orange.png') no-repeat center; }
		.two{ background: url('imgs/skill_small_yellow.png') no-repeat center; }
		.three{	background: url('imgs/skill_small_red.png') no-repeat center; }
		.four{ background: url('imgs/skill_small_orange.png') no-repeat center; }
	}
	
	.plant .skills-badges { 
		.one{ background: url('imgs/skill_small_dkgreen.png') no-repeat center; }
		.two{ background: url('imgs/skill_small_ltgreen.png') no-repeat center; }
		.three{	background: url('imgs/skill_small_aquagreen.png') no-repeat center; }
		.four{ background: url('imgs/skill_small_dkgreen.png') no-repeat center; }
	}
	
	.design-build .skills-badges { 
		.one{ background: url('imgs/skill_small_purple.png') no-repeat center; }
		.two{ background: url('imgs/skill_small_pink.png') no-repeat center; }
		.three{	background: url('imgs/skill_small_gray.png') no-repeat center; }
		.four{ background: url('imgs/skill_small_purple.png') no-repeat center; }
	}
	
	.activities{
		width: 100%;
		display: block;
		text-align: center;
		h5{
			.sans-serif;
			margin: 20px 0 0;
			background: transparent;
		}
	
		div.bounding{
			border-top: 1px solid @dkbrown;
			border-right: 1px solid @dkbrown;
			border-left: 1px solid @dkbrown;
			height: 8px;
		}
	
		section{
			width: 100%;
	
			div{
				width: 16%;
				margin: 0;
				padding: 0;
				height: 32px;
				display: inline-block;
			}
	
			div.water{
				background: url('imgs/activities_tiny_dkblue.png') no-repeat center;
			}
	
			div.fish{
				background: url('imgs/activities_tiny_orange.png') no-repeat center;
			}
	
			div.plant{
				background: url('imgs/activities_tiny_dkgreen.png') no-repeat center;
			}
	
			div.design-build{
				background: url('imgs/activities_tiny_purple.png') no-repeat center;
			}
		}
	}//.activites
	
	section.badges-desc{

		width: 96%;
		margin: 40px 20px 0;


		section.badges-desc-content{

			width: 66%;
			display: inline-block;
			vertical-align: top;

			p{color: @dkbrown;}

			.main-copy p{
				.sans-serif;
				font-weight: 200;
				font-size: 1.5em;
				margin: 0 0 20px 0;
			}
			.body-copy{
				font-weight: 400;
				.serif;
				-moz-column-count: 2;
				-moz-column-gap: 15px;
				-webkit-column-count: 2;
				-webkit-column-gap: 15px;
				column-count: 2;
				column-gap: 15px; 
			}


		}/* badges-desc-content */

		section.open-badges-callout{

			width: 20%;
			height: 295px;
			padding: 10px 20px 10px 20px;
			background: @offwhite;
			display: inline-block;
			vertical-align: top;
			.open-badges-callout-shadow;

			div{
				width: 100%;
				height: 95px;
				background: url('imgs/mozilla_foundation.png') no-repeat center;
				padding: 10px 0;
			}

			p{

				.sans-serif;
			}

			p.link{

				background: @dkbrown;
				border-bottom-left-radius: 5px;
				border-top-left-radius: 5px;
				color: @beige;
				width:100px;
				padding: 10px;
				margin: 10px 0 0 0;
				font-size: .8em;
				text-transform: uppercase;
				position: relative;

			}
			p.link:after{
				content: ' ';
				height: 0;
				position: absolute;
				width: 0;
				top:0;
				left: 120px;
				border: 17px solid transparent;
				border-left-color:@dkbrown;
			}

		} //section.open-badges-callout
		

	} //section.badges-desc
	

	
}


.page-aquapons-badges, .page-my-badges {
	
	#main {
		text-align: center;
	}
	
	//background: @teal;
	#aquapons-navigation{
		position: relative;
		padding: 15px 0;
		max-height: 140px;
		background: @offwhite;
		overflow: hidden;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		.sub-nav-shadow;
	}
	.page-back, .page-forward{ display: inline-block; width: 30px; height: 38px;position: absolute; top: 60px; }
	.page-back{//float: left;
		background: url('imgs/badges-arrow-left.png') center no-repeat;
	}
	.page-forward{//float: right;
		background: url('imgs/badges-arrow-right.png') center no-repeat;
		//float: left;
		
		right: 20px;
		
	}
	
	.content.badge {
		margin: 10px auto;
	}
	
/*
	div.aquapons.badge{
		
		display: inline-block;
		margin: 10px 10%;
		text-align: center;
		width: 134px;
		height: 134px;
		vertical-align: middle;
		
		a{ 	position: relative; 
			display:inline; 
			color: @dkbrown; 
			text-transform: uppercase; 
			font-weight: bold; 
			font-size: .8em; 
			vertical-align: center;
			clear:both;
			text-align: center;

			}
		a.focus.junior-apprentice,  a.focus.senior-apprentice{ top: -85px; }
		a.focus{ top: -78px;}
		a.secondary{ top: -65px; font-size: .75em; font-weight: 300; }
		a.secondary.junior-apprentice, a.secondary.senior-apprentice{ top: -72px; }
		img.focus{ position: relative; display: inline; width: 134px; height: 134px;}
		img.secondary{ width:107px; height: 107px; }
	}
	div.aquapons.badge.hide{
		
		display: none;
	}
	
*/


	


	.badges-display;

}



.page-skills-badges {
	.skills-row {
		padding: 0 10px 10px 0;
		white-space: nowrap;
		overflow-x: auto;
	}
	.category_descriptions_mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: @dkbrown;
		opacity: .2;
		display: none;
	}
	.category_descriptions {
		position: absolute;
		top: 0;
		bottom: 0;	
		left: -345px;
		width: 340px;
		background: @dotted-pattern-light;
		border-right: 3px solid @dkbrown;
		.category_info {
			height: 212px;
			padding: 19px 10px;
		}
	}
	.close_category_descriptions {
		.sans-serif;
		position: absolute;
		top: 20px;
		left: 310px;
		cursor: pointer;
	}
}



.single-discussion{
	#main{
		
		background: @beige;
		min-height: 0 !important;
		padding: 0;
	}
	
	.breadcrumb {
		position: relative;
		top: 0px;
		background: @offwhite;
		width: 100%;
		padding: 5px;
		
		li {
			display: inline-block;
			font-size: 11px;
			color: @dkbrown;
			a {color: @dkbrown;}
			a.strong{ font-weight: bold;}
		}
	}
	
	header#original{
		
		background: @lined-pattern;
		padding: 45px;
		position: relative;
		
	}
	
	section#responses.water, header#original.water{ border-bottom: solid 4px @blue;}
	section#responses.plant, header#original.plant{ border-bottom: solid 4px @green;}
	section#responses.design-build, header#original.design-build{ border-bottom: solid 4px @purple;}
	section#responses.fish, header#original.fish{ border-bottom: solid 4px @orange;}
	section#responses.economic, header#original.economic{ border-bottom: solid 4px @yellow;}
	section#responses.environmental, header#original.environmental{ border-bottom: solid 4px @lt-green;}
	section#responses.community, header#original.community{ border-bottom: solid 4px @blue-purple;}
	section#responses.aquapons, header#original.aquapons{ border-bottom: solid 4px @lt-blue;}
	
	figure.user_photo img{
		
		display: block;
		position: relative;
		
	}
	section.original_post{
		
		display: block;
		margin: 0 0 0 100px;
		figure.user_photo{ width: 100px; height: 100px; overflow: hidden;
			img{width: 100%; height: 100%; }
		}
		p.author{ .sans-serif; font-size: .8em; color: @medbrown; margin: 0;
		 		  
		 		  a{font-weight: bold; color: @teal;}
		 		
		 		}
		h2{ .serif;  font-weight: 100; padding: 10px 0 20px;}		
	}
	
	section#responses{
		
		width: 100%;
		min-height: 600px;
		background: @beige;
		display: block;
		padding: 30px 0;
		h2 {margin-left: 4%;}
		
		section{vertical-align: top;
			p.unregistered{ margin: 10px 4%;}
		}
		hr{margin: 0 4%; background: @medbeige; border-color: @medbeige; height: 2px; display: block; clear: all;}
		form{ margin: 20px 4%;}
		textarea{ color: @dkbrown; display: block; border: none; background: transparent; outline: none; .serif; resize: none;  font-size: 1em; width: 100%; height: 150px;}
		textarea::-webkit-input-placeholder { color: @dkbrown; .serif;  }
		textarea::-moz-placeholder { color: @dkbrown; .serif;  } /* firefox 19+ */
		textarea:-ms-input-placeholder { color:@dkbrown; .serif;  } /* ie */
		textarea:-moz-placeholder { color:@dkbrown; .serif;  }
		input[type="submit"]{ border-radius: 0; background: @dkbrown !important; color: @offwhite; text-transform: uppercase;} 
		aside{vertical-align:top;}
		
		
		section.answer.child{
			
			article.desc{ min-height: 50px; width: 80%;}
			figure{margin: 10px 0 5px 30%;}
			
		}
		
	}
	
	
	section#similar{
		
		width: 100%;
		min-height: 200px;
		background: @lined-pattern;
		padding: 20px 40px;
		
	}

	
	
}


.single-badge {
	
	.breadcrumb {
		position: absolute;
		top: 4px;
		left: 20px;		

		li {
			display: inline-block;
			font-size: 11px;
			color: @offwhite;
			a {
				margin: 0 3px;
				color: @offwhite;
			}
		}
		li:last-child {
			font-weight: bold;
		}
	}
	.badge-objectives {
		margin: 25px 0;
		p {
			.serif;
			font-size: 14px;
		}
		ul {
			-moz-column-count:1;
			-webkit-column-count:1;
			column-count:1;
		}
		ul li {
			display: inline-block;
			list-style: disc;
			list-style-position: inside;
		}
		ul li:before {
			content: "• ";
		}
		
		.info{
			width: 100%;
		}
		.half{max-width: 45%;
			  height: 100%; 
			  text-align: left !important;
			  clear: left;
			  margin: 0%;
			  display:inline-block;
			  vertical-align: top;
			  margin: 0;
			  padding: 0;
			  p{display: inline; white-space: pre-wrap; text-align: left;}
			  h3{text-align: left;}
			  ol { list-style: decimal; padding-left: 20px;}
			  ol li{ font-size: 14px; }
		}
		.do{margin-left: 5%;}
	}/*.badge-objectives */
}





.single-activity {
	
	#activity-pagination {
		position: relative;
		padding: 10px 20px;
		background: @beige;
		.sans-serif;
		font-size: 18px;
		font-weight: bold;
	}
	.previous_activity {
		position: absolute;
		top: 10px;
		left: 20px;
		font-size: 13px;
	}
	.next_activity {
		position: absolute;
		top: 10px;
		right: 20px;
		font-size: 13px;
	}
	.activity_siblings {
		text-align: center;
	}
	
	
	#activity-nav {
		position: relative;
		width: 100%;
		display: block;
		text-align: left;
		padding: 20px 0;
		color: @offwhite;
		h2 {
			padding: 3px 0;
			margin: 20px;
			font-weight: 100;
			color: @offwhite;
			border-bottom: 1px solid white;
		}
		h3 {
			float: right;
			margin: 0 20px;
			border-radius: 5px;
			background: @offwhite;
			color: @dkbrown;
			padding: 7px 15px;
			font-size: 14px;
			font-weight: 600;	
		}
		.estimated_time {
			margin: -10px 20px 0;
			float: right;
			font-size: 11px;
			.sans-serif;
		}
	}
	
	
	.water #activity-nav { background: @lt-blue; }
	.fish #activity-nav { background: @orange; }
	.plant #activity-nav { background: @lt-green; }
	.design-build #activity-nav { background: @purple; }
	
	
	.submission{ position: relative; display: inline-table; width: 45%; margin: 0 2.5%; height: auto; vertical-align: top; }
	img{ width: 100%; }
	
	p.form-help{ font-size: .6em; .sans-serif; font-weight: bold; line-height: 1em; width: 90% !important;  }
	
	.h_iframe{ position: relative; display:inline-table;padding-top:55%; width: 100%;}
	
	.h_iframe iframe{ position: absolute; width:100%;height:100%;top:0;left:0; }
	
	article.text{
		
		width: 90%;
		padding: 20px 5%;
		margin: 20px 0;
		background: @beige;
		height: 200px;
		overflow: hidden;
		
		display: inline-table;
		vertical-align: top;
		
	}
	
	input[type='submit'] {margin-top: 15px;}
	
	nav#activity_upload{ width: 100%; display: block; text-align: center;}
	.submission_nav{ display: inline-table; width: 28%; margin: 10px 1%;  background: @beige; height: 162px; vertical-align: top; 
				h4 { margin: 0; }
				hr{ width: 80%; border: 0; height: 1px; color: @medbrown; background: @medbrown; display: block; padding: 0; margin: 10px auto; }
				p{width: 75%; margin: 0 auto;}
				select{ display:block; text-align: center; margin: 5px auto;}
				input[type="file"]{ display: inline; border: none; }
				input[type="text"]{ display: inline; width: 75%; margin: 5px 10px; }
				input[type="submit"]{display: block; margin: 5px auto 4px; padding-left: 15px; padding-right: 15px;}
	 }
	 
	.upload h1{height:25px; background: url('imgs/arrow.png') no-repeat center; margin: 20px 0 5px 0; }
	.journal h1{ height:25px; background: url('imgs/pencil.png') no-repeat center; margin: 20px 0 5px 0;}
	.complete h1{height:25px; background: url('imgs/glasses.png') no-repeat center; margin: 20px 0 5px 0; }
	.review h1{height:25px; background: url('imgs/glasses.png') no-repeat center; margin: 20px 0 5px 0; }
	#ask-question{.ask-form(@beige);}
	.sidebar{min-height: 0 !important;}
	#discussions h2{padding: 20px;}
	.question{padding: 20px;}
	.no_submission .complete, .no_submission .review {
		opacity: .5;
		pointer-events: none;
	}
	.review { display:none; }
	.self_eval {
		.complete { display:none; }
		.review { display:inline-table; }
	}

} // .single-activity


.sidebar{ 

	.submission_nav{ width: 85%; padding: 0 7.5%;
					
		hr{ position: relative;  padding: 0 12.5%; border: 0; height: 1px; color: @medbrown;  background: none; }
		p{width: 100%;}
		
	}

 }

.page-resources {
	
	#browse_the_library {
		a {
			display: block;
			color: @dkbeige;
			margin: 0;
			padding: 0 1%;
			width: 100%;
			height: 100%;
		}
		ul{ width: 100%;
			margin: 0 auto;
			padding: 0 auto;
			//bottom: -73px;
			//height: -80px;
			li{
				display: inline-block;
				height: 186px;
				margin: 0 1%;
				width: 15%;
				.sans-serif;
				font-weight: 600;
				text-align: center;
				font-size: .7em;
				background: @beige;
				overflow: hidden;
				color: @dkbrown;
				transition: all .3s;
				-webkit-transition:all .3s;
				-moz-transition: all .3s;
				-o-transition: all .3s;
				
				figure{
					padding:10px 0;
					height: 35px;
					width: auto;
					img{
						opacity: .6;
						vertical-align: center; 
						max-width: 90%; 
						transition:all .3s; 
						-webkit-transition: all .3s; 
						-moz-transition: all .3s; 
						-o-transition: all .3s;
					}

				}
				h3{
					vertical-align: bottom;
					text-transform: uppercase;
				}
				hr {
					width: 80%;
					margin: 8px auto;
					border-bottom: 1px solid @medbeige;
				}
				p {
					height: 100px;
					padding: 0 5%;
					.serif;
					font-weight: normal;
					font-size: 16px;
				}
			}
			li:hover{
				background: @offwhite;
				img{opacity: 1;}
				
			}
			
		}//ul
	}
	
}



.resource, .institution, .search_result {
	position: relative;
	clear: both;
	min-height: 130px;
	margin: 0 0 20px;
	padding: 10px 0;
	
	.info {
		margin-left: 160px;
	}

	
	.meta-info {
		margin-bottom: 8px;
		font-size: 13px;
	}
	h3 {
		.serif;
		font-size: 28px;
		margin-bottom: 10px;
	}
	h3 + .meta-info {
		margin-top: -10px;
	}
	
	img {
		width: 140px;
		height: auto;
		float: left;
		margin: 0 20px 0 0;
	}
	
	
	footer {
		margin: 20px 0 0 0;
		padding: 5px 0;
		border-top: 1px solid @dkbrown;
		border-bottom: 2px solid @dkbrown;
		.sans-serif;
	}
	.level {
		
		font-weight: bold;
		margin-right: 20px;
	}
	
}



.page-sign-up{
	
	.main{ padding: 20px 5%;}
	h2{  }
	h3{ color: @dkbrown; display: block; font-size: 1.4em;}
	
	.simplr-message.error{
		
		color: @beige;
		background: @red;
		border-radius: 5px;
		margin: 10px 0;
		display: table;
		clear: both;
	}
	
	.simplr-message {
	
	
		color: #222;
		font-size: 18px;
		border-radius: 5px;
		margin: 10px 0;
		display: table;
		clear:both;
	}
	
	.simplr-message.success {
		background: @lt-green;
	}
	
	.simplr-message.error {
		background: @red;
		color: @beige;
	}
	
	.simplr-field{ 
		display: block;
		clear: both;
		width: 50%;
		padding: 10px;
		margin: 10px 20px;
				
	}
	#simplr-form{
	
		
		margin: 0;
		padding: 0;
	
	
		label {
			display: inline;
			clear:none;
			margin: 0 20px 0 0;
			width: 35%;
			
		}
		input{
			
			width: 50%;
			display: inline;
			clear: none;
			float:left;
			height: 3em;
			border-radius: 5px;
			border: 1px solid @medbeige;
			padding: 0 20px;
			
		}
		
		input[type="submit"]{
			
			width: 200px;
			background: @babyblue;
			border: none;
			height:30px;
			color: @beige;
			border-radius: 5px;
			float:left;
			
		}
		
		input[type="submit"]:hover{
			
			background: @blue;
			
		}
		
		
		label {
			.sans-serif;
			margin: 20px 0 0;
			font-size: .8em;
			font-weight: bold;
			font-style: normal;
			color: @dkbeige;
		}
		
		
		input,input[type='text'], textarea{
			display: block;
			clear: both;
			width: 240px;
			height: auto;
			color: @dkbrown;
			border-radius: 5px;
			border: 1px solid @medbeige;
			margin: 0 0 5px;
			padding: 7px 15px;
			font-size: 14px;	
		}
		
		input[type='submit'], input[type='button'] {
			float: none;
			clear: both;
			color: @dkbrown;
			width: auto;
			display: block;
			margin: 15px 15px 20px 0;
			padding: 7px 35px;
		}
		
		input[type="submit"]:hover, input[type="button"]:hover{
			color: @dkbrown;
			background: @medbeige;
			cursor: pointer;
		}
		
		.simplr-field {
			margin: 0;
			padding: 0;
		}
	
		.simplr-field.error {
			background: transparent;
		}
		
		.error input {
			background: #fcc;
		}
		
	}
	
	
}


.page-sign-in{
	
		.main{ padding: 20px 5%;}

		#loginform{

				
					p{
						height: 3em;
						
						
					}
					
					label {
						.sans-serif;
						margin: 20px 0 0;
						font-size: .8em;
						font-weight: bold;
						font-style: normal;
						color: @dkbeige;
					}
					
					
					input,input[type='text'], textarea{
						display: block;
						clear: both;
						width: 240px;
						height: auto;
						color: @dkbrown;
						border: 1px solid @medbeige;
						margin: 0 0 5px;
						padding: 7px 15px;
						font-size: 14px;	
					}
					
					input[type='submit'], input[type='button'] {
						float: none;
						clear: both;
						width: auto;
						display: block;
						margin: 15px 15px 20px 0;
						padding: 7px 35px;
					}
					
					input[type="submit"]:hover, input[type="button"]:hover{
						color: @dkbrown;
						background: @medbeige;
						cursor: pointer;
					}
								
					
					.login-remember{
						
						label{
							
							width: 300px;
							float: left;
						}
						input{
							float: left;
							width: auto;
							margin: 3px 10px 0 0;
						}
						
					}
			
		}
}




.page-profile, .single-institution {

	section.main {
		overflow: hidden;
	}

	header #secondary-nav section:first-child {
		margin: 20px 0 0;
	}
	
	header #secondary-nav #page-search {
		padding: 0;
	}
	
	.background {
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		float: left;
		width: 33%;
		margin-bottom: -99999px;
		padding-bottom: 99999px;
		.sub-nav-shadow;
		h4 {
			margin: 20px 0 0;
			font-size: .8em;
			font-weight: bold;
			color: @dkbeige;
		}
		h4:first-child {
			margin: 0;
		}
	}
	
	.background.editable {
		padding-left: 60px;
	}
	
	
	.background_admin {
		display: none;
		margin-bottom: 50px;
	}
	
	.background.editing .background_display {
		display: none;
	}
	
	.background.editing .background_admin {
		display: block;
	}
	
	.edit_setting {
		width: 35px;
		height: 35px;
		float: left;
		margin: 0 0 0 -44px;
		padding: 0px;
		background: url(imgs/pencil.png) no-repeat center center;
		text-indent: 9999px;
		overflow: hidden;
		cursor: pointer;
		border: none;
	}
	.edit_setting:hover {
		opacity: .8;
	}
	
	.edit_background {
		background-image: url(imgs/pencil.png);
		margin-top: 15px;
	}
	
	.delete_school, .delete_company {
		background-image: url(imgs/trash.png);
	}
	
	.edit_resume {
		background-image: url(imgs/arrow.png);
	}
	
	.school, .company {
		margin: 0 0 20px;
	}
	
	.my_badges {
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		width: 67%;
		margin-left: 33%;
		background: @dotted-pattern-light;
		h3 {
			font-size: 1em;
			text-transform: uppercase;
			border-bottom: 1px solid @dkbrown;
			margin: 20px 0 15px;
		}		
		
		.content.badge {
			width: 24%;
		}
	}
	
}
.page-profile header #secondary-nav section:first-child {
	margin: 25px 0 0;
}
	
.page-profile header #secondary-nav #page-search {
	padding: 0;
}
	
.page-review {
	.pending_review {
		clear: both;
		margin: 20px;
		padding: 0px 20px 20px;
		border-bottom: 1px solid @dkbeige;
	}
	.submission_info {
		float: left;
		width: 20%;
	}
	.review_inputs {
		margin-left: 25%;
		textarea {
			width: 100%;
			height: 100px;
			padding: 5px;
			font-size: 16px;
		}
		.approve_badge {
			clear: both;
		}
	}
}


